﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMPatientMember
<div class="card">
    <div class="card-header h3">Hapus Member</div>
    <div class="card-body">
        Yakin ingin menghapus @Model.Fullname ?
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            &nbsp;
            <form asp-action="Delete" method="post" id="frmDeleteMember">
                <input type="hidden" name="ModifiedBy" value="@Model.parentId" />
                <input type="hidden" name="customerId" value="@Model.customerId" />
                <input type="hidden" name="memberId" value="@Model.memberId" />
                <input type="hidden" name="CustomerMemberId" value="@Model.CustomerMemberId" />
                <input type="hidden" name="parentId" value="@Model.parentId" />
                <input type="hidden" name="UserId" value="@Model.UserId" />
                <div>
                    <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i> Ya</button>
                    <button type="button" id="btnCancel" class="btn btn-success"><i class="fas fa-times"></i> Tidak</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#btnCancel").click(function () {
        $("#myModal").modal("hide")
    })
    $("#frmDeleteMember").validate({

        errorClass: "text-danger",

        submitHandler: function (form) {
            debugger
            if (confirm("Data Member akan dihapus..."))
                $.ajax({
                    url: "/PatientDetail/Delete",
                    type: "post",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function () {
                    },
                    success: function (apiResponse) {
                        if (apiResponse.success) {
                            location.reload();
                        } else {
                            alert(apiResponse.message)
                        }
                    },
                    error: function (errResponses) {
                        alert("Delete member fail")
                    }
                })
            else
                return false
        }
    })
</script>