﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMPatientMember

<form id="frmEditPatient" method="post" asp-action="Edit" asp-controller="PatientDetail">
    <input type="hidden" name="ModifiedBy" value="@Model.parentId" />
    <input type="hidden" name="customerId" value="@Model.customerId" />
    <input type="hidden" name="memberId" value="@Model.memberId" />
    <input type="hidden" name="CustomerMemberId" value="@Model.CustomerMemberId" />
    <input type="hidden" name="parentId" value="@Model.parentId" />
    <input type="hidden" name="UserId" value="@Model.UserId" />

    <div class="card">
        <div class="card-header h3">update Patient @Model.Fullname</div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Fullname</label>
                <input class="form-control" type="text" name="Fullname" value="@Model.Fullname" />
            </div>
            <div class="row">
                <label class="form-label">Date of Birth</label>
                <input class="form-control" type="date" name="Dob" value="@Model.Dob?.ToString("yyyy-MM-dd")" id="dobInput" />
            </div>
            <div class="row">
                <label class="form-label">Gender</label>
                <div class="form-group" disabled>
                    @if (Model.Gender == "L")
                    {
                        <label>
                            <input type="radio" name="Gender" value="L" checked /> Laki-laki
                        </label>
                        <label>
                            <input type="radio" name="Gender" value="P" /> Perempuan
                        </label>
                    }
                    else
                    {
                        <label>
                            <input type="radio" name="Gender" value="L" /> Laki-laki
                        </label>
                        <label>
                            <input type="radio" name="Gender" value="P" checked /> Perempuan
                        </label>
                    }
                </div>
            </div>
            <div class="row">
                <label class="form-label">Blood Group</label>
                <div class="form-group" disabled>
                    <select name="BloodGroupId">
                        <option value=" ">Golongan darah</option>
                        @foreach (VMTblMBloodGroup data in ViewBag.BloodGroup)
                        {
                            if (data.Id == Model.BloodGroupId)
                            {
                                <option value="@data.Id" selected>@data.Code</option>
                            }
                            else
                            {
                                <option value="@data.Id">@data.Code</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" disabled>
                    @if (Model.RhesusType == "Rh+")
                    {
                        <label>
                            <input type="radio" name="RhesusType" value="Rh+" checked /> Rh+
                        </label>
                        <label>
                            <input type="radio" name="RhesusType" value="Rh-" /> Rh-
                        </label>
                    }
                    else
                    {
                        <label>
                            <input type="radio" name="RhesusType" value="Rh+" /> Rh+
                        </label>
                        <label>
                            <input type="radio" name="RhesusType" value="Rh-" checked /> Rh-
                        </label>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Height</label>
                    <div class="input-group">
                        <input class="form-control" type="number" name="Height" value="@Model.Height" />
                        <div class="input-group-append">
                            <span class="input-group-text">cm</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Weight</label>
                    <div class="input-group">
                        <input class="form-control" type="number" name="Weight" value="@Model.Weight" />
                        <div class="input-group-append">
                            <span class="input-group-text">kg</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="form-label">Relasi</label>
                <div class="form-group">
                    <select name="CustomerRelationId">
                        @foreach (VMCustomerRelation data in ViewBag.Relation)
                        {
                            if (data.Name == Model.RelationName)
                            {
                                <option value="@data.Id" selected>@data.Name</option>
                            }
                            else
                            {
                                <option value="@data.Id">@data.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
            </div>
            <button type="submit" class="btn btn-sm btn-success"><i class="ti-save"></i> Save</button>
            <button type="button" id="btnCancel" class="btn btn-sm btn-success"><i class="ti-close"></i> Cancel</button>
        </div>
    </div>
</form>

<script>
    // Mendapatkan elemen input tanggal berdasarkan ID
    var dobInput = document.getElementById("dobInput");

    // Mendapatkan tanggal saat ini
    var currentDate = new Date();

    // Format tanggal menjadi YYYY-MM-DD
    var year = currentDate.getFullYear();
    var month = String(currentDate.getMonth() + 1).padStart(2, '0');
    var day = String(currentDate.getDate()).padStart(2, '0');
    var formattedDate = year + "-" + month + "-" + day;

    // Mengatur atribut max pada input tanggal
    dobInput.max = formattedDate;

    $("#btnCancel").click(function () {
        $("#myModal").modal("hide")
    })

    $("#frmEditPatient").validate({
        rules: {
            Fullname: {
                minlength: 3,
                maxlength: 50,
                required: true
            },
            Dob: "required",
            Gender: {
                required: true
            },
        },
        errorClass: "text-danger"
    });

    $(document).ready(function () {
        // Validasi formulir menggunakan jQuery Validate
        $("#frmEditPatient").validate();

        // Mengirimkan formulir melalui Ajax saat disubmit
        $("#frmEditPatient").submit(function (event) {
            event.preventDefault(); // Mencegah pengiriman formulir default

            if ($("#frmEditPatient").valid()) {
                // Mengambil data formulir
                var formData = new FormData($(this)[0]);

                // Mengirim data melalui Ajax
                $.ajax({
                    url: '/PatientDetail/Edit/', // Ubah sesuai dengan URL endpoint Add di Controller Anda
                    type: 'POST',
                    data: formData,
                    processData: false, // Tidak memproses data secara otomatis
                    contentType: false, // Tidak mengatur tipe konten secara otomatis
                    success: function (apiResponse) {
                        if (apiResponse.success) {
                            // Redirect ke halaman yang sesuai setelah berhasil menambahkan data
                            window.location.href = '@Url.Action("Index")'; // Ubah sesuai dengan URL yang benar
                        } else {
                            // Tampilkan pesan kesalahan jika ada
                            alert(apiResponse.message);
                        }
                    },
                    error: function (errResponse) {
                        alert("Submit Failed");
                    }
                });
            }
        });
    });
</script>