﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<!--
	README for id name.
	img id="imgNavbar"
	img id="myImage"
	h5  id="userName"
	div id="userJobClass"

	Dibawah ini nav-tab pada profile layout
	id nav-tabnya sendiri = myTab

-->
@model VMMRole
<!DOCTYPE html>
<html lang="en">
<body>
	<main class="content">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-md-4 col-xl-3 d-flex align-items-stretch">
					<div class="row ">
						<div class="col-xl-12 align-self-start">
							<div class="card mb-3 ">
								<div class="card-header">
									<h5 class="card-title mb-0">Profile Details </h5>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-between">
										&nbsp; <h5><i id="editImages" class="bi-pencil-square" type="button"></i></h5>
									</div>
									<div class="text-center">
										<img id="myImage" src="~/images/@(Model.ImagePath??"logo.png")" alt="~/images/logo.png" class="img-fluid rounded-circle mb-2" width="128" height="128">

									</div>
									<h5 id="userName" class="card-title mb-0 text-center">@Model.Fullname</h5>
									<div id="userJobClass" class="text-muted mb-2 text-center">@Model.Name</div>
								</div>
							</div>

						</div>
						<div class="col-xl-12 align-self-end">
							<div class="mb-4">
								<div>
									<ul class="list-unstyled mb-0">
										<li class="mb-1"><a asp-action="" asp-controller="">Profile @Model.Fullname</a></li>
										<li class="mb-1"><a href="#">Pembelian Obat</a></li>
										<li class="mb-1"><a asp-action="Index" asp-controller="CancelAppointment">Rencana Kedatangan</a></li>
										<li class="mb-1"><a href="#">Riwayat Chat Dokter</a></li>
									</ul>
								</div>

							</div>

						</div>
					</div>
				</div>
				<div class="col-md-8 col-xl-9">
					<div class="card">
						<div class="card-header" id="contentViewIndex">

						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

<script>
	$(document).ready(function () {
		let userId = Number(@ViewBag.userId)
		let biodataId = Number(@ViewBag.biodataId)

		$("#editImages").click(function () {
			$("#myModalBody").load("/Patient/EditImages/" + userId)
			$("#myModal").modal("show")
		});
	});
</script>