﻿@using Med322a.ViewModels
@using Med322a.Views.Models.Med322.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model PageView<VMPatientMember>
<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-4 col-xl-3 d-flex align-items-stretch">
                <div class="row">
                    <div class="col-xl-12 align-self-start">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Profile Details</h5>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5><i id="editImages" class="bi-pencil-square" type="button"></i></h5>
                                </div>
                                <div class="text-center">
                                    <img id="myImage" src="~/images/@(ViewBag.UserRole.ImagePath??"logo.png")"
                                         alt="~/images/logo.png" class="img-fluid rounded-circle mb-2" width="128"
                                         height="128">
                                </div>
                                <h5 id="userName" class="card-title mb-0 text-center">@ViewBag.UserRole.Fullname</h5>
                                <div id="userJobClass" class="text-muted mb-2 text-center">@ViewBag.UserRole.Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 align-self-end">
                        <div class="mb-4">
                            <div>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-1"><a asp-action="" asp-controller="">Profile @ViewBag.UserRole.Fullname</a></li>
                                    <li class="mb-1"><a href="#">Pembelian Obat</a></li>
                                    <li class="mb-1"><a asp-action="Index" asp-controller="CancelAppointment">Rencana Kedatangan</a></li>
                                    <li class="mb-1"><a href="#">Riwayat Chat Dokter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-9">
                <div class="card">
                    <div class="card-header" id="contentViewIndex">
                        <form id="frmFindData" asp-action="ViewIndex" asp-controller="PatientDetail">
                            <div class="row py-2">
                                <div class="col-3">
                                    <button id="btnAdd" type="button" class="btn btn-success">
                                        <i class="bi-plus-lg"></i>
                                    </button>
                                    <button id="btnDeleteSelected" type="button"
                                            class="btn btn-danger">
                                        <i class="bi-trash"></i> Hapus
                                    </button>
                                </div>

                                <div class="col-5">
                                    <div class="input-group">
                                        <input id="txtFilter" name="Filter" placeholder="Find..." class="form-control" value="@ViewBag.Filter" />
                                        <button id="btnFilter" type="submit" asp-route-showData="@ViewBag.ShowData"
                                                asp-route-orderDirection="@ViewBag.OrderDirection" class="btn btn-sm btn-primary">
                                            <i class="bi-search"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group">
                                        <span class="input-group-text" id="labelUrutkan">Urutkan :</span>
                                        <select id="urutkan" class="form-select" aria-describedby="labelUrutkan">
                                            <option value="">pilih</option>
                                            <option value="name">Nama</option>
                                            <option value="relation">Relasi</option>
                                            <option value="age">Usia</option>
                                            <option value="appointment">Janji Dokter</option>
                                            <option value="chat">Chat Online</option>
                                            <!-- Tambahkan opsi lainnya sesuai kebutuhan -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3 justify-content-end">
                                <div class="col-auto">
                                    <div class="input-group">
                                        <span class="input-group-text" id="labelShowData">Tampilkan Data :</span>
                                        <select id="showDataSelect" class="form-select" aria-describedby="labelShowData">
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <!-- Tambahkan opsi lainnya sesuai kebutuhan -->
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                        <div id="tableContainer">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-1">
                                            <a asp-action="ViewDataRelation" asp-route-filter="@ViewBag.Filter"
                                               asp-controller="Admin" asp-route-orderby="">*</a>
                                        </th>
                                        <th class="col-3">
                                            <div class="d-flex justify-content-between">
                                                Name
                                                <a asp-action="ViewIndex" asp-route-filter="@ViewBag.Filter"
                                                   asp-route-showData="@ViewBag.ShowData"
                                                   asp-route-orderby="@ViewBag.OrderBy"
                                                   asp-controller="PatientDetail"
                                                   asp-route-orderDirection='@(ViewBag.OrderDirection == "asc" ? "desc" : "asc")'
                                                   onclick="toggleOrderDirection(); return false;">
                                                    <i class="bi-arrow-down-up"></i>
                                                </a>
                                            </div>
                                        </th>
                                        <th class="col-2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (VMPatientMember data in Model)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="checkbox-delete"
                                                       data-multipledelete="@data.customerId" data-checked="false" />
                                            </td>
                                            <td>
                                                <h4>@data.Fullname</h4>
                                                <span><h5>@data.RelationName, @data.Age Tahun</h5></span>
                                                <span><h6>@data.chat chat online, @data.Appointment janji dokter</h6></span>
                                            </td>
                                            <td>
                                                <button data-customermemberid="@data.customerId"
                                                        class="btn btnEdit btn-sm btn-success btn-icon" title="Edit...">
                                                    <i class="bi-pencil-square"></i>
                                                </button>
                                                <button data-customermemberid="@data.customerId"
                                                        class="btn btnDelete btn-sm btn-danger btn-icon" title="Delete...">
                                                    <i class="bi-trash"></i>
                                                </button>
                                                <input type="hidden" class="data-row"
                                                       data-modifiedby="@data.parentId"
                                                       data-customerid="@data.customerId"
                                                       data-memberid="@data.memberId"
                                                       data-customermemberid="@data.CustomerMemberId"
                                                       data-parentid="@data.parentId"
                                                       data-userid="@data.UserId" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" class="text-center">
                                            <div class="btn-group btn-rounded">
                                                <a id="btnPreviousPage" asp-action="ViewIndex" asp-controller="PatientDetail"
                                                   title="Previous Page..."
                                                   class="btn btn-primary btn-circle @(Model.PageIndex < 2? "disabled" : "")"
                                                   asp-route-filter="@ViewBag.Filter"
                                                   asp-route-orderby="@ViewBag.OrderBy"
                                                   asp-route-showData="@ViewBag.ShowData"
                                                   asp-route-orderDirection="@ViewBag.OrderDirection"
                                                   asp-route-pageNumber="@(Model.PageIndex <= 1? Model.PageIndex : Model.PageIndex-1)">
                                                    <i class="bi-skip-backward-fill"></i>
                                                </a>
                                                <span class="input-group-text">page @Model.PageIndex of @Model.TotalPages</span>
                                                <a  id="btnNextPage" asp-action="ViewIndex" asp-controller="PatientDetail"
                                                   title="Next Page..."
                                                   class="btn btn-primary btn-circle @(Model.PageIndex >= Model.TotalPages? "disabled" : "")"
                                                   asp-route-filter="@ViewBag.Filter"
                                                   asp-route-orderby="@ViewBag.OrderBy"
                                                   asp-route-showData="@ViewBag.ShowData"
                                                   asp-route-orderDirection="@ViewBag.OrderDirection"
                                                   asp-route-pageNumber="@(Model.PageIndex == Model.TotalPages ? Model.PageIndex : Model.PageIndex+1)">
                                                    <i class="bi-skip-forward-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script>
    $(document).ready(function () {

        // Dapatkan nilai urutkan dari query string
        var currentUrutkan = getUrutkanFromURL();
        
        // Fungsi untuk mengubah urutan dan mengarahkan ulang halaman
        $("#urutkan").change(function () {
            var newUrutkan = $(this).val();
            var updatedUrl = updateQueryStringParameter("orderby", newUrutkan);
            window.location.href = updatedUrl;
        });

        // Dapatkan ukuran halaman saat ini dari query string
        var currentPageSize = getShowDataFromURL();
        if (currentPageSize === null) {
            currentPageSize = @ViewBag.DefaultPageSize; // Ubah sesuai dengan nilai default yang diinginkan
        }
        // Tetapkan nilai yang dipilih pada dropdown sesuai dengan ukuran halaman saat ini
        $("#showDataSelect").val(currentPageSize);
        if(currentUrutkan !== null){
            $("#urutkan").val(currentUrutkan);
        }
        
        // Fungsi untuk mengubah ukuran halaman dan mengarahkan ulang halaman
        $("#showDataSelect").change(function () {
            var newSize = $(this).val();
            var updatedUrl = updateQueryStringParameter("showData", newSize);
            window.location.href = updatedUrl;
        });

        $("#btnAdd").click(function () {
            $("#myModalBody").load("/PatientDetail/Add/");
            $("#myModal").modal("show");
        })

        $(".btnEdit").click(function () {
            let customermemberid = $(this).data("customermemberid");
            $("#myModalBody").load("/PatientDetail/Edit/" + customermemberid);
            $("#myModal").modal("show");
        })

        $(".btnDelete").click(function () {
            let customermemberid = $(this).data("customermemberid");
            $("#myModalBody").load("/PatientDetail/Delete/" + customermemberid);
            $("#myModal").modal("show");
        });

        // Fungsi untuk mengubah nilai parameter dalam URL
        function updateQueryStringParameter(key, value) {
            const urlSearchParams = new URLSearchParams(window.location.search);
            urlSearchParams.set(key, value);
            const newURL = `${window.location.pathname}?${urlSearchParams.toString()}`;
            return newURL;
        }

        // Dapatkan nilai showData dari query string
        function getShowDataFromURL() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get('showData');
        }

        // Dapatkan nilai urutkan dari query string
        function getUrutkanFromURL() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get('orderby');
        }

        // Fungsi untuk mendapatkan nilai arah urutan saat ini dari query string
        function getOrderDirectionFromURL() {
            const urlSearchParams = new URLSearchParams(window.location.search);
            return urlSearchParams.get('orderDirection');
        }

        // Fungsi untuk mengubah arah urutan dan mengarahkan ulang halaman
        function toggleOrderDirection() {
            var currentOrderDirection = getOrderDirectionFromURL();
            var newOrderDirection = currentOrderDirection === 'asc' ? 'desc' : 'asc';
            var updatedUrl = updateQueryStringParameter("orderDirection", newOrderDirection);
            window.location.href = updatedUrl;
        }
    });
</script>