﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div id="modalOtentikasi" class="card">
    <div class="card-header text-primary h1"><b>Autentikasi</b></div>
    <div class="card-body text-center h4">Proses Autentikasi Berhasil</div>
</div>
