﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="container-fluid" id="idxTrx">
    <div class="row" style="height: 430px;">
        <div class="col-7">
            <div class="card border" style="height: 400px; margin: 0 auto;">
                <div class="card-header my-0"><label class="form-label">Saldo saat ini : @ViewBag.Saldo</label></div>
                    <div class="card-body py-0">
                        <h3 class="btn btn-primary btn-rounded btn-sm col-3" id="btn50" type="button" value="50000">50.000</h3>
                        <h3 class="btn btn-primary btn-rounded btn-sm col-4" id="btn100" type="button">100.000</h3>
                        <h3 class="btn btn-primary btn-rounded btn-sm col-4" id="btn150" type="button">150.000</h3>
                        <h3 class="btn btn-primary btn-rounded btn-sm col-4" id="btn200" type="button">200.000</h3>
                        <h3 id="btnNominal" class="btn btn-primary btn-rounded btn-sm col-5" type="button">Nominal Lain</h3>
                    </div>
                    <div class="card-footer bg-success opacity-25 d-flex justify-content-end" style="height: 60px;"></div>
            </div>
        </div>   
        <div class="col-5">
            <div class="card border" style="height: 400px; margin: 0 auto;">
                <div class="card-body">
                    <div id="displayNominal" @*style="display: none"*@></div>
                    <button type="button" id="btnLanjut" class="btn-primary col-12" style="display: none">Lanjut</button>
                </div>
                <div class="card-footer bg-success bg-opacity-25 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-danger">Cancel</button>
                    &nbsp;
                    <button type="button" id="btnOk" class="btn btn-sm btn-info">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#btnOk").prop("disabled", true);
    $("#btnNominal").click(function(){
        $("#myModalBody").load("/Bank/Nominal")
        $("#myModal").modal("show")
    });
    $(".btn-danger").click(function(){
        $("#displayNominal").text("-");
        $("#btnLanjut").hide();
    });
    $("#btn50").click(function(){
        var tarik = "@ViewBag.Tarik";
        var nominal = "50000";
        $("#displayNominal").text(tarik + nominal)
        $("#btnLanjut").show();
    });
    $("#btn100").click(function(){
        var tarik = "@ViewBag.Tarik";
        var nominal = "100000";
        $("#displayNominal").text(tarik + nominal)
        $("#btnLanjut").show();
    });
    $("#btn150").click(function(){
        var tarik = "@ViewBag.Tarik";
        var nominal = "150000";
        $("#displayNominal").text(tarik + nominal)
        $("#btnLanjut").show();
    });
    $("#btn200").click(function(){
        var tarik = "@ViewBag.Tarik";
        var nominal = "200000";
        $("#displayNominal").text(tarik + nominal)
        $("#btnLanjut").show();
    });
    $("#btnLanjut").click(function(){
        $("#myModalBody").load("/Bank/InputPIN")
        $("#myModal").modal("show")
    });
    $("#btnOk").click(function(){
        $("#myModalBody").load("/Bank/OTP")
        $("#myModal").modal("show")
    })
</script>