﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div id="pinModal">
    <div class="card-header d-flex justify-content-between">
        <h1 class="text-primary"><b>Masukkan PIN</b></h1>
        <button class="btn-close"></button>
    </div>
    <div class="card-body input-group d-flex justify-content-center">
        <input type="text" class="digit-input col-1 text-center" maxlength=" 1" />
        &nbsp;
        <input type="text" class="digit-input col-1 text-center" maxlength=" 1"/>
        &nbsp;
        <input type="text" class="digit-input col-1 text-center" maxlength=" 1"/>
        &nbsp;
        <input type="text" class="digit-input col-1 text-center" maxlength=" 1"/>
        &nbsp;
        <input type="text" class="digit-input col-1 text-center" maxlength=" 1"/>
        &nbsp;
        <input type="text" class="digit-input col-1 text-center" maxlength=" 1" />
    </div>
    <div class="card-footer d-flex  justify-content-center ">
        <button class="btn-primary text-white btn-lg" id="submitPin">OK</button>
    </div>
</div>
<script>
    
    $(".btn-close").click(function() {
        $("#myModal").modal("hide");
    });
    $(".digit-input").on("input", function() {
        var currentInput = $(this);
        var inputValue = currentInput.val();

        if (inputValue.length === 1) {
            currentInput.next(".digit-input").focus();
        }
    });
    $("#submitPin").click(function() {
        var enteredPin = "";
        $(".digit-input").each(function() {
            enteredPin += $(this).val();
        });
        var userPin = "123456"; // PIN yang dimiliki oleh pengguna
        if (enteredPin === userPin) {
            $("#pinModal").modal("hide");
            $("#myModalBody").load("/Bank/Autentikasi");
            $("#myModal").modal("show");
            $("#btnOk").prop("disabled", false);
        } else {
            alert("PIN tidak valid. Transaksi dibatalkan.");
        }
    });
</script>