﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
    <div class="card">
        <div class="card-header text-primary h1"><b>@ViewBag.Title</b>
            <div class="card-body justify-content-center">
                <label name="txtNominal" class="form-label h5">Isi nominal lain</label>   
                <input class="form-control col-8" type="number" id="nominal" min="250000" />
                <h6 id="validationMessage" style="display: none; color: red;">*harus diisi.</h6>
            </div>
            <div class="card-footer h4">
                <button class="btnBatal">Batal</button>
                <button class="btnOk btn-primary">OK</button>
            </div>
        </div>
    </div>
<script>
    //$("#frmNominal").validate({
    //    rules: {
    //        txtNominal: "required"
    //    },
    //    errorClass: "text-danger"
    //});
    $(".btnOk").click(function(){
        var tarik = "@ViewBag.Tarik";
        var nominal = $("#nominal").val();
        if(nominal.trim() == ""){
            $("#validationMessage").show();
        }
        else{
            $("#validationMessage").hide();
            $("#displayNominal").text(tarik + nominal);
            $("#myModal").modal("hide");
            $("#btnLanjut").show();
        }
    });
    $(".btnBatal").click(function(){
        $("#myModal").modal("hide");
    });

</script>
