﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    string GenerateOTP(int length = 6)
    {
        string characters = "0123456789";
        Random random = new Random();
        string otp = new string(Enumerable.Repeat(characters, length)
                         .Select(s => s[random.Next(s.Length)]).ToArray());
        return otp;
    }

    string otp = GenerateOTP();
}
<!-- Modal OTP -->
<div id="otpModal">
    <div class="card-header bg-info border-primary d-flex justify-content-between">
        <b class="h1 text-white">Tarik Saldo</b>
        <span class="btn-close"></span>
    </div>
    <div class="card-body py-0 text-center">
        <h3>Proses Penarikan saldo Berhasil</h3>
        <h2><b>OTP Anda : @otp</b></h2>
        <h6><i>*OTP Akan Kedaluarsa Setelah 1 Jam</i></h6>
    </div>
</div>
<script>
    $(".btn-close").click(function(){
        $("#myModal").modal("hide");
    });
</script>