﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmFilterObat" >@*method="post" asp-controller="CariObat" asp-action="Index"*@
    <div class="card">
        <div class="card-header h1 text-center text-primary"><b>@ViewBag.Title</b>
            <label class="form-label h6 text-center text-secondary"><em>Masukkan minimal 1 kata kunci untuk pencarian anda</em></label>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label class="form-label" form="categoryId">Kategori</label>
                    <select class="form-control" name="catIdObat" id="IdObat">
                        <option value="">--Pilih--</option>
                        @foreach (VMCatObat kategori in ViewBag.Kategori)
                        {
                            <option value="@kategori.Id">@kategori.Name</option>
                        }
                    </select>
                </div> 
            </div>
            &nbsp;
            <div class="col">
                <label class="form-label">Kata Kunci</label>
                <input class="form-control" type="text" name="Keyword" placeholder="nama obat atau indikasi" value="@ViewBag.Filter" />
            </div>
            &nbsp;
            <div class="col">
                <label class="form-check">
                    <input class="form-check-input" type="radio" value="option1" name="example" checked />
                    <span class="form-check-label">
                        Hanya cari obat bebas (tanpa resep)
                    </span>
                </label>
            </div>
            <div class="col">
                <label class="form-check">
                    <input class="form-check-input" type="radio" value="option2" name="example" />
                    <span class="form-check-label">
                        Cari semua obat (termasuk obat keras)
                    </span>
                </label>
            </div>
            &nbsp;
            <div class="row">
                <label class="form-label">Harga</label>
                <div class="col input-group pl-0" >
                    <input class="form-control input-group-text col-4" type="text" name="hargaMin" id="rMin" placeholder="Rp.0" />
                    <label class="form-label col-4 text-center">Sampai</label>
                    <input class="form-control input-group-text col-4" type="text" name="hargaMax" id="rMax" placeholder="Rp.100.000.000" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                <button type="reset" class="btn btn-outline-info btn-lg">Atur Ulang</button>
                &nbsp;
                <button type="submit" class="btnCari btn-rounded btn-info col-3">Cari</button>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function(){
    $("#frmFilterObat").validate({
        errorClass: "text-danger",
        rules: {
            catIdObat: "required",
            Keyword: "required",
            hargaMin: "required",
            hargaMax: "required"
        },
        //$("#frmFilterObat").submit(function (event) {
        //        event.preventDefault();

        submitHandler: function (form){
            $.ajax({
                url: "/CariObat/CariObat",
                type: "post",
                data: $(form).serialize(),
                dataType: "json",
                //processData: false,
                //contentType: false,
                beforeSend: function () { },
                success: function (apiResp) {
                    debugger;
                    if (apiResp.success) {
                        window.location.href = "/CariObat/Index";
                    }
                    else {
                        alert(apiResp.message)
                    }
                }, error: function (errResponse) {
                    alert("Proccess Failed");
                }
            });
        }
    });
    //$(".btnCari").click(function () {
    //    $.ajax({
    //        url: "/CariObat/CariObat",
    //        type: "post",
    //        data: $("#frmFilterObat").serialize(),
    //        dataType: "json",
    //        processData: false,
    //        contentType: false,
    //        beforeSend: function () { },
    //        success: function (apiResponse) {
    //            debugger;
    //            if (apiResponse.success) {
    //                window.location.href = "/CariObat/Index";
    //            }
    //            else {
    //                alert(apiResponse.message)
    //            }
    //        }, error: function (errResponse) {
    //            alert("Proccess Failed");
    //        }
    //    });
    //});    
})
</script>