﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="col-12 d-flex justify-content-between">
        <div class="h4 text-secondary">@ViewBag.Title berdasarkan kata kunci : </div>
        <button class="btnUlang btn btn-outline-primary">Ulangi Pencarian</button>
    </div>
    <hr />
    <div class="row">
        @foreach (VMCariObat obat in Model)
        {
            <div class="col-6">
                <div class="card border-primary bg-white">
                    @* <img src="~/@ViewBag.imgFolder/@(product.Image??"image-empty.png")" class="img-fluid img-thumbnail" />*@
                    <div class="card-header">@obat.Name</div>
                    <div class="card-body py-0">
                        <div class="card-text d-flex justify-content-between">
                            <label class="small">Kategori :<span id="MICName-@obat.Id">@obat.MedicalItemCategoryName</span></label>
                        </div>
                        <div class="card-text d-flex justify-content-between">
                            <label class="small">Segmentasi :<span id="MISName-@obat.Id">@obat.MedicalItemSegmentationName</span></label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <div class="card text-center bg-primary btn btn-info col-7">
                                <div id="addToCart" class="h4"></div>
                                <div class="h5 text-white">Tambah Ke Keranjang</div>
                            </div>
                            <div class="card bg-primary btn btn-outline-info ">
                                <div id="addToCart" class="h4"></div>
                                <div class="h5 text-white">Detail</div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="d-flex justify-content-end">
            <div class="col-form-label-sm">Menampilkan @Model.PageIndex dari @Model.TotalPages </div>
            &nbsp;
            &nbsp;
            <div class="btn-group">
                <a asp-action="Index" class="btn btn-outline-primary @(Model.PageIndex < 2 ? "disable" : "")"
                   asp-route-filter="@ViewBag.Filter"
                   asp-route-orderBy="@ViewBag.OrderBy"
                   asp-route-pagenumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex-1)">Sebelumnya</a>
                  
                   &nbsp;
                   &nbsp;

                <a asp-action="Index" class="btn btn-outline-primary @(Model.PageIndex >= Model.TotalPages ? "disable" : "")"
                   asp-route-filter="@ViewBag.Filter"
                   asp-route-orderBy="@ViewBag.OrderBy" 
                   asp-route-pagenumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex+1)">Selanjutnya</a>
            </div>
        </div>
    </div> 
    &nbsp;
    &nbsp;
    <div class="col d-flex justify-content-sm-between text-center text-white">

        <div class="h3 text-secondary"> Produk | Estimasi Harga : </div>

        <button type="button" id="btnCart" class="bg-primary btn btn-info col-3">
            <div class="h5 text-center text-white"><i class="bi bi-cart4 h4 text-white"></i> Keranjang Saya</div>
        </button>

    </div>
</div>
<script>
    
    $(".btnUlang").click(function()  {
            $("#myModalBody").load("/CariObat/CariObat")
            $("#myModal").modal("show");
        });
    @*let listCart = [];
    let product = [];
    let totProduct = parseInt($("#totalOrder").text());
    let estPrice = parseInt($("#estPtice").text());

    $(".btn-success").click(function () {
        let productId = $(this).data("productid");
        let productName = $("productname-" + productId).text();
        let productPrice = parseInt($("productprice-" + productId).text());
        let productStock = parseInt($("productstock-" + productId).text());
        let productQty = parseInt($("productqty-" + productId).text());
        //Check stok awal
        if (productStock > 0) {
            totProduct++;
            productStock--;
            productQty++;
            estPrice += productPrice;

            //put into product object
            product.Id = productId;
            product.Qty = productQty;
            product.Name = productName;
            product.Price = productPrice;

            //check if product already exist in cart
            let productIdx = listCart.map(i => i.Id).indexOf(productId);
            //put product object into cart
            if (productIdx < 0) {
                listCart.push(product);
            }
            else {
                listCart(productIdx).Qty = productQty;
            }

            //update Test
            $("#totProduct").text(totProduct);
            $("#estPrice").text(estPrice);
            $("#productqty-" + productId.text(productQty);
            $("#productstock-" + productId.text(productStock);

            //enable cart
            if (listCart.length > 0) {
                $("#addToCart").removeClass("disabled");
            }
        }
    });
    $(".btn-danger").click(function () {
        let productId = $(this).data("productid");
        let productName = $("productname-" + productId).text();
        let productPrice = parseInt($("productprice-" + productId).text());
        let productStock = parseInt($("productstock-" + productId).text());
        let productQty = parseInt($("productqty-" + productId).text());

        //Check stok awal
        if (productStock > 0) {
            totProduct--;
            productStock++;
            productQty--;
            estPrice -= productPrice;
            //check if product already exist in cart
            let productIdx = listCart.map(i => i.Id).indexOf(productId);

            if (productIdx >= 0) {
                listCart(productIdx).Qty = productQty;
            }
            //removing product from listcart if no more product
            if (productQty == 0) {
                listCart.splice(productIdx, 1);
            }
            //update Test
            $("#totProduct").text(totProduct);
            $("#estPrice").text(estPrice);
            $("#productqty-" + productId.text(productQty);
            $("#productstock-" + productId.text(productStock);
        }

        //disable cart
        if (listCart.length < 1) {
            $("#addToCart").addClass("disabled");
        }
    });*@
</script>