﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMRole


<div class="card">
    <div class="card-header h3 bg-primary text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>

    <form id="frmNewRole" method="post" asp-action="AddRole">
        <input type="hidden" name="CreatedBy" value="1" />
        <div class="card-body">
            <label class="form-label input-group-text">Name*</label>
            <input class="form-control col-8" type="text" name="Name"/>
            <label class="form-label input-group-text">Kode*</label>
            <input class="form-control col-8" type="text" name="Code"/>
        </div>
        <div class="card-footer text-end">
            <button type="button" id="btnBatal" class="btn btn-sm btn-warning" title="Batal">
                Batal
            </button>
            <button type="submit" class="btn btn-sm btn-primary" title="Simpan">
                Simpan
            </button>
        </div>
    </form>
</div>

<script>
    $("#btnBatal").click(function () {
        $("#myModal").modal("hide");
    });

    $("#frmNewRole").validate({
        rules: {
            Name: {
                minlength: 5,
                maxlength: 20,
                required: true,
                
            },
            Code: {
                minlength: 5,
                maxlength: 20,
                required: true
            }
        },
        errorClass: "text-danger m-0 p-0",
        messages: 
        {
            Name: 
            {
                required: "Role Name is required!",
                minlength: "Role Name minimum at 5 characters!",
                maxlength: "Role Name maximum at 20 characters!"
            },
            Code: 
            {
                required: "Role Code is required!",
                minlength: "Role Name minimum at 5 characters!",
                maxlength: "Role Code maximum at 20 characters!"
            }
        }
    });

    $("#frmNewRole").submit(function (event) {
        if ($("#frmNewRole").valid()) {
            var formData = new FormData($(this)[0]);
            event.preventDefault();
            $.ajax({
                url: "/Akses/AddRole",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                beforeSent: function () {},
                success: function (apiResponse) {
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        alert(apiResponse.message);
                        return false;
                    }
                },
                error: function (errResponse) {
                    alert("Add New Role Process Failed!");
                    return false;
                }
            });
        }
    });
</script>