﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMRole


<div class="card">
    <div class="card-header h5 bg-danger text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>
    <div class="card-body text-center h4">
        Anda akan menghapus @Model.Name ?
    </div>
    <div class="card-footer d-flex justify-content-between">
        &nbsp;
        <div class="row">
            <form id="frmDeleteRole" method="post" asp-action="DeleteRole">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="DeletedBy" value="3" />
                <button type="button" id="btnBatal" class="btn btn-sm btn-warning" title="Tidak">
                    Tidak
                </button>
                <button type="button" id="btnYa" class="btn btn-sm btn-primary" title="Ya">
                    Ya
                </button>
            </form>
        </div>
    </div>
</div>


<script>
    $("#btnBatal").click(function () {
        $("#myModal").modal("hide");
    });

    $("#btnYa").click(function () {
        $.ajax({
            url: "/Akses/DeleteRole",
            type: "post",
            data: $("#frmDeleteRole").serialize(),
            dataType: "json",
            beforeSent: function () {
            },
            success: function (apiResponse) {
                if (apiResponse.success) {
                    location.reload();
                }
                else {
                    alert(apiResponse.message);
                    return false;
                }
            },
            error: function (errResponse) {
                alert("Delete Role Process Failed!");
                return false;
            }
        });
    });
</script>