﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMUser
<form id="formEditImages" method="post" asp-action="EditImages">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UpdateBy" value="@Model.RoleId" />
    <div class="card">
        <div class="card-header h3 bg-info text-white d-flex justify-content-between">
            Edit Images @Model.Fullname
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
           
            <div class="row">
                <label class="form-label">Masukkan File Gambar</label>
                <input type="file" id="fImage" name="ImageFile" class="form-control" value="@Model.imageFile" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success" id="simpanPasswordBaru">Simpan</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#formEditImages").validate({
        rules: {
            ImageFile: "required"
        },
        messages: {
            ImageFile: "File gambar harus diisi"
        },
        errorClass: "text-danger"
    })

    $("#formEditImages").submit(function (event) {
        event.preventDefault();

        // Pengecekan validasi form
        if ($("#formEditImages").valid()) {
            var formData = new FormData($(this)[0]);
            console.log(formData)
            debugger
            if (confirm("Gambar akan diganti...")) {
                $.ajax({
                    url: "/Patient/EditImagesUser",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    //async: false,
                    //cache: false,
                    contentType: false,
                    processData: false,
                    success: function (apiResponse) {
                        if (apiResponse.success) {
                            location.reload();
                        } else {
                            alert(apiResponse.message)
                        }
                    },
                    error: function (errResponses) {
                        alert("Ganti images gagal")
                    }
                });
            }
        } else {
            // Jika form tidak valid, Anda dapat menambahkan logika untuk menampilkan pesan kesalahan atau mengambil tindakan lain yang sesuai.
            alert("Form is not valid. Please check the inputs.");
        }
    });

</script>