﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model int;
<div class="card">
    <div class="card-header h3 bg-info text-white d-flex justify-content-between">
        Edit Akun Password
        <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="form-label">Password Lama</label>
            <input class="form-control" type="password" id="passAwal" required />
        </div>

        <div class="row">
            <label class="form-label">Ulangi Password</label>
            <input class="form-control" type="password" name="Password" id="pass2" required />
            <span class="text-danger"></span>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            &nbsp;
            <button type="button" class="btn btn-success" id="simpanPasswordBaru">Simpan</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var userId = @Model;
        debugger;

        $("#simpanPasswordBaru").click(function () {
            var password1 = $("#passAwal").val();
            var password2 = $("#pass2").val();

            // Cek apakah input kosong
            if (password1 === "") {
                alert("Password lama harus diisi.");
                return;
            }

            if (password2 === "") {
                alert("Password baru harus diisi.");
                return;
            }

            if (password1 !== password2) {
                alert("Password tidak sama, mohon cek kembali.");
            } else {
                $.ajax({
                    url: "/Patient/CheckOldPassword",
                    type: "POST",
                    data: { userId: userId, oldPassword: password1 }, // Kirim userId dan oldPassword
                    success: function (response) {
                        if (response.exists) {
                            // Password lama sudah terverifikasi, Anda dapat melanjutkan submit form atau menampilkan modal ganti password baru di sini.
                            // ...
                            alert("Password lama cocok.");
                            $("#myModalBody").load("/Patient/EditNewPasswordUser/" + userId)
                            $("#myModal").modal("show")
                        } else {
                            alert("Password lama tidak cocok.");
                            return;
                        }
                    },
                    error: function () {
                        alert("Error checking old password.");
                    }
                });
            }
        });
    });
</script>
