﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMUser
<form id="formEditEmail" method="post" asp-action="EditEmailUser">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UpdateBy" value="@Model.RoleId" />
    <div class="card">
        <div class="card-header h3 bg-info text-white d-flex justify-content-between">
            Edit Akun Email
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Email</label>
                <input class="form-control" type="text" name="Email" value="@Model.Email" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </div>
    </div>
</form>
<script>
    $("#formEditEmail").validate({
        rules: {
            Email: {
                email: true,
                maxlength: 100,
                required: true
            }
        },
        errorClass: "text-danger"
    })

    $("#formEditEmail").submit(function (event) {
        event.preventDefault();

        if ($("#formEditEmail").valid()) {
            var newEmail = $("input[name='Email']").val();

            var formData = new FormData($(this)[0]);

            $.ajax({
                url: "/Patient/ValidateEmail",
                type: "POST",
                data: { email: newEmail },
                dataType: "json",
                success: function (validationResponse) {
                    if (validationResponse.exists) {
                        $("#formEditEmail").validate().showErrors({
                            Email: "Email already exists in the database."
                        });
                    } else {
                        if (confirm("Email akan diganti...")) {
                            $.ajax({
                                url: "/Patient/EditEmailUser",
                                type: "POST",
                                data: formData,
                                dataType: "json",
                                contentType: false,
                                processData: false,
                                success: function (apiResponse) {
                                    if (apiResponse.success) {
                                        alert("Email has been changed. Logging out...");
                                        window.location.href = "/Home/Logout";
                                    } else {
                                        alert(apiResponse.message)
                                    }
                                },
                                error: function (errResponses) {
                                    alert("Ganti email gagal")
                                }
                            });
                        }
                    }
                },
                error: function (errResponses) {
                    alert("Failed to validate email.");
                }
            });
        } else {
            alert("Form is not valid. Please check the inputs.");
        }
    });

</script>