﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMUser
<form id="formEditDataPribadi" method="post" asp-action="Edit">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UpdateBy" value="@Model.RoleId" />
    <div class="card">
        <div class="card-header h3 bg-info text-white d-flex justify-content-between">
            Edit Data Pribadi
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Nama Lengkap</label>
                <input class="form-control" type="text" name="Fullname" value="@Model.Fullname" />
                <span class="text-danger"></span>
            </div>
            <div class="row">
                <label class="form-label">Tanggal Lahir</label>
                <input type="date" class="form-control" name="Dob" value="@Model.Dob?.ToString("yyy-MM-dd")" id="dobInput">
                <span class="text-danger"></span>
            </div>
            <div class="row">
                <label class="form-label">Nomor Handphone</label>
                <input class="form-control" type="text" name="MobilePhone" value="@Model.MobilePhone" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </div>
    </div>
</form>

<script>
    // Mendapatkan elemen input tanggal berdasarkan ID
    var dobInput = document.getElementById("dobInput");

    // Mendapatkan tanggal saat ini
    var currentDate = new Date();

    // Format tanggal menjadi YYYY-MM-DD
    var year = currentDate.getFullYear();
    var month = String(currentDate.getMonth() + 1).padStart(2, '0');
    var day = String(currentDate.getDate()).padStart(2, '0');
    var formattedDate = year + "-" + month + "-" + day;

    // Mengatur atribut max pada input tanggal
    dobInput.max = formattedDate;

    $("#formEditDataPribadi").validate({
        rules: {
            Fullname: {
                minlength: 3,
                maxlength: 255,
                required: true
            },
            Dob :"required",
            MobilePhone: {
                minlength: 11,
                maxlength: 15,
                required: true
            }
        },
        errorClass: "text-danger"
    })

    $("#formEditDataPribadi").submit(function (event) {
        event.preventDefault();

        // Pengecekan validasi form
        if ($("#formEditDataPribadi").valid()) {
            var formData = new FormData($(this)[0]);
            console.log(formData)
            debugger
            if (confirm("Data Patient akan disubmit...")) {
                $.ajax({
                    url: "/Patient/Edit",
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    //async: false,
                    //cache: false,
                    contentType: false,
                    processData: false,
                    success: function (apiResponse) {
                        if (apiResponse.success) {
                            location.reload();
                        } else {
                            alert(apiResponse.message)
                        }
                    },
                    error: function (errResponses) {
                        alert("Edit Patient process fail")
                    }
                });
            }
        } else {
            // Jika form tidak valid, Anda dapat menambahkan logika untuk menampilkan pesan kesalahan atau mengambil tindakan lain yang sesuai.
            alert("Form is not valid. Please check the inputs.");
        }
    });

</script>