﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMUser;
<form id="formEditPassword" method="post" asp-action="EditNewPasswordUser">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="UpdateBy" value="@Model.RoleId" />
    <div class="card">
        <div class="card-header h3 bg-info text-white d-flex justify-content-between">
            Edit Akun Password
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Password Baru</label>
                <input class="form-control" type="password" id="passAwal" name="passAwal" required />
            </div>

            <div class="row">
                <label class="form-label">Ulangi Password</label>
                <input class="form-control" type="password" name="Password" id="pass2" required />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success" id="simpanPasswordBaru">Simpan</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        var userId = @Model.Id;

        $("#formEditPassword").validate({
            rules: {
                passAwal: {
                    required: true,
                    minlength: 8,
                    checkPassword: true
                },
                Password: {
                    required: true,
                    minlength: 8,
                    equalTo: "#passAwal"
                }
            },
            messages: {
                passAwal: {
                    required: "Password baru harus diisi.",
                    minlength: "Password baru minimal 8 karakter."
                },
                Password: {
                    required: "Password baru harus diisi.",
                    minlength: "Password baru minimal 8 karakter.",
                    equalTo: "Password baru harus sama dengan password baru."
                }
            },
            errorClass: "text-danger"
        });

        $("#formEditPassword").submit(function (event) {
            event.preventDefault();

            if ($("#formEditPassword").valid()) {
                var newPassword = $("input[name='Password']").val();

                var formData = new FormData($(this)[0]);
                
                $.ajax({
                    url: "/Patient/CheckOldPassword",
                    type: "POST",
                    data: { userId: userId, oldPassword: newPassword },
                    dataType: "json",
                    success: function (validationResponse) {
                        if (validationResponse.exists) {
                            alert("Password tidak boleh sama dengan password yang sekarang.");
                        } else {
                            if (confirm("Password akan diganti. Apakah Anda yakin?")) {
                                // Lanjutkan dengan proses perubahan password di sini
                                $.ajax({
                                    url: "/Patient/EditNewPasswordUser",
                                    type: "POST",
                                    data: formData,
                                    dataType: "json",
                                    contentType: false,
                                    processData: false,
                                    success: function (apiResponse) {
                                        if (apiResponse.success) {
                                            alert("Password has been changed. Logging out...");
                                            window.location.href = "/Home/Logout";
                                        } else {
                                            alert(apiResponse.message);
                                        }
                                    },
                                    error: function (errResponses) {
                                        alert("Ganti Password gagal");
                                    }
                                });
                            }
                        }
                    },
                    error: function (errResponses) {
                        alert("Gagal untuk memvalidasi password.");
                    }
                });
            } else {
                alert("Form is not valid. Please check the inputs.");
            }
        });

        $.validator.addMethod("checkPassword", function (value, element) {
            var containsUpperCase = /[A-Z]/.test(value);
            var containsLowerCase = /[a-z]/.test(value);
            var containsNumber = /\d/.test(value);
            var containsSpecialChar = /['!@@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(value);

            return containsUpperCase && containsLowerCase && containsNumber && containsSpecialChar;
        }, "Password harus mengandung huruf besar, huruf kecil, angka, dan karakter khusus.");
    });
</script>