﻿@model VMMUser
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <body>
    <div class="card">
        <div class="mb-3 card-header h4 d-flex justify-content-between">
            Data Pribadi
            <i id="editDataAkun" class="bi-pencil-square" type="button"></i>
        </div>
        <div class="card-body py-0">
            <div class="mb-3 p-0 rounded mx-auto">
                <label class="form-label">Nama Lengkap</label>
                <input class="form-control form-control-lg" type="text" readonly id="Fullname" value="@Model.Fullname">
            </div>
            <div class="mb-3 p-0 rounded mx-auto">
                <label class="form-label">Tanggal Lahir</label>
                <input class="form-control form-control-lg" type="text" readonly id="Dob" value='@Model.Dob?.ToString("dd MMMM yyyy")'>
            </div>
            <div class="mb-3 p-0 rounded mx-auto">
                <label class="form-label">Nomor Handphone</label>
                <input class="form-control form-control-lg" type="email" readonly id="MobilePhone" value="@Model.MobilePhone">
            </div>
        </div>
    </div>
    &nbsp;
    <div class="card">
        <div class="mb-3 card-header h4">
            Data Akun
        </div>
        <div class="card-body py-0">
            <div class="mb-3 p-0 rounded mx-auto">
                <label class="form-label d-flex justify-content-between">
                    Email
                    <h4><i id="editDataEmail" class="bi-pencil-square" type="button"></i></h4>
                    </label>
                <input class="form-control form-control-lg" type="text" readonly id="email" value=@Model.Email>
            </div>
            <div class="mb-3 p-0 rounded mx-auto">
                <label class="form-label d-flex justify-content-between">
                    Password
                    <h4><i id="editDataPassword" class="bi-pencil-square" type="button"></i></h4>
                </label>
                <input class="form-control form-control-lg" type="password" readonly name="password" value=@Model.Password>
            </div>
        </div>
    </div>
    </body>
</html>

<script>
    $(document).ready(function () {
        let userId = Number(@ViewBag.userId)
        $("#editDataAkun").click(function () {
            $("#myModalBody").load("/Patient/Edit/" + userId)
            $("#myModal").modal("show")
        });

        $("#editDataEmail").click(function () {
            $("#myModalBody").load("/Patient/EditEmailUser/" + userId)
            $("#myModal").modal("show")
        });

        $("#editDataPassword").click(function () {
            $("#myModalBody").load("/Patient/EditPasswordUser/" + userId)
            $("#myModal").modal("show")
        });
    })
</script>
