﻿@using Newtonsoft.Json
@*@model List<VMMenuForView>*@
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class=".container-fluid">

    @if (string.IsNullOrEmpty(ViewBag.UserRoleId))
    {
        
        <div class="row">
            <div class="col-2">
                <div class="card" id="Find">
                    <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-black text-center">Cari Obat</div>
                    @*<button type="button" class="btn btn-info">Cari Obat</button>*@
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                    <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu2</a></div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                    <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu2</a></div>
                </div>
            </div>
        </div>
    }
    else
    {
        @if (Context.Session.GetString("MenuForView") is string serializedMenuData){
			var menuForView = JsonConvert.DeserializeObject<List<VMMenuForView>>(serializedMenuData);
			<div class="row">
                @foreach (var menu in menuForView)
                {
                    @*string[] url = menu.Url.Split(',');*@
                    if(menu.RoleId.ToString() == ViewBag.UserRoleId)
                    {
                        <div class="col-2">
                            <div class="card">
                                <img src="~/@ViewBag.ImgFolder/@(menu.BigIcon ?? "R.Png")" class="img-fluid img-thumbnail"/>
                                <div class="card-title text-center" id="Menu1"><a class="text-black" href="javascript:void(0);" onclick="redirectToRelativeUrl('@menu.Url')" @*href="@Url.Action(menu.Url)"*@ @*asp-controller="@(url[0] ?? "Home")" asp-action="@(url[1] ?? "Index")"*@>@menu.Name</a></div>
                            </div>
                        </div>
                    }
                }
            </div>
		}
        
        @*<div class="row">
            @foreach (var menu in ViewBag.MenuForView)
            {
                if(menu.RoleId.ToString() == ViewBag.UserRoleId)
                {
                    <div class="col-2">
                        <div class="card">
                            <img src="~/@ViewBag.ImgFolder/@(menu.BigIcon ?? "R.Png")" class="img-fluid img-thumbnail"/>
                            <div class="card-title text-center" id="Menu1"><a class="text-black" href="@menu.Url">@menu.Name</a></div>
                        </div>
                    </div>
                }
            }
        </div>*@
        @*@if(ViewBag.UserRoleId == "1")
        {
            <div class="row">
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/Bank-PNG-Background-Image.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Bank" asp-action="Index">Bank</a></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Doctor" asp-action="Specialization">Doctor Specialization</a></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu6</a></div>
                    </div>
                </div>
            </div>
        }
        else if(ViewBag.UserRoleId == "2")
        {
            <div class="row">
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu7</a></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu8</a></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu9</a></div>
                    </div>
                </div>
            </div>  
        }
        else if(ViewBag.UserRoleId == "3")
        {
            <div class="row">
                <div class="col-2">
                    <div class="card">
                        <a asp-controller="Doctor" asp-action="Profile">
                            <img src="~/images/R.png" class="img-fluid img-thumbnail"/>
                            <div class="card-title text-center text-black" id="Menu1">Profile</div>
                        </a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu11</a></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card">
                        <img src="~/images/R.png")" class="img-fluid img-thumbnail"/>
                        <div class="card-title text-center" id="Menu1"><a class="text-black" asp-controller="Home" asp-action="Privacy">Menu12</a></div>
                    </div>
                </div>
            </div>
        } *@
    }
</div>
<script>
    $(document).ready(function() {
        $("#Find").click(function() {
            $("#myModalBody").load("CariObat/CariObat")
            $("#myModal").modal("show");
        });
    });
    function redirectToRelativeUrl(targetUrl) {
        var currentUrl = window.location.href;
        var parts = currentUrl.split("/");
        var baseUrl = parts[0];

        window.location.href = baseUrl + '/' + targetUrl;
    }
</script>