﻿@model VMMUser
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;

}
<form id="frmLogin">
    <div class="card">
        <div class="card-header h3 bg-info text-white fw-bold d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="form-label px-0">E-mail*</label>
                <input id="Email" class="form-control" type="email" name="Email" placeholder="e-mail"/>
            </div>
            <div class="row my-2">
                <label class="form-label px-0">Password*</label>
                <div class="input-group px-0" id="passPart">
                    <button class="btn btn-rounded btn-success bi-eye-slash" type="button" id="password-input"></button>
                    <input id="Password" class="form-control" type="password" name="Password" placeholder="password" autocorrect="off"/>
                </div>
            </div>
            <div class="d-flex justify-content-center my-2">
                <button type="submit" id="btnLogin" class="btn btn-success btn-lg fw-bold"><i class="bi-save"></i> Login</button>
            </div>
        </div>
        <div class="card-footer py-0">
            <div class="row text-center">
                <span id="ForgotPassword" class="h7"><a class="text-info">Lupa Password?</a></span>
                <label class="h8">atau</label>
                <div>
                    <label class="h7">Belum memiliki akun?</label>
                    <span id="Register" class="h7"><a class="text-info">Daftar</a></span>
                </div>
            </div> 
        </div>
    </div>
</form>

<script>
    $(document).ready(function(){
        $("#ForgotPassword").click(function () {
            $("#myModalBody").load("Home/ForgotPassword");
            $("#myModal").modal("show");
        });
        $("#Register").click(function () {
            $("#myModalBody").load("Home/Register");
            $("#myModal").modal("show");
        });
        $.validator.addMethod(
            "validateEmail",
            function (value, element, params) {
                var result = false;
                var formData = $("#frmLogin").serialize();
                $.ajax({
                    url: "/Home/EmailAuth",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        result = response.success;
                    },
                    error: function (errResponse) {
                        result = false;
                    }
                });
                return result;
            }
        );
        $.validator.addMethod(
            "validatePassword",
            function(value, element, params) {
                var result = false;
                var formData = $("#frmLogin").serialize();
                $.ajax({
                    url: "/Home/PassAuth",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    async: false,
                    success: function(response) {
                        result = response.success;
                    },
                    error: function(errResponse) {
                        result = false;
                    }
                });
                return result;
            }
        );
        $.validator.addMethod(
            "validateEmailLocked",
            function(value, element, params) {
                var result = false;
                var formData = $("#frmLogin").serialize();
                $.ajax({
                    url: "/Home/EmailAuthLocked",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    async: false,
                    success: function(response) {
                        result = response.success;
                    },
                    error: function(errResponse) {
                        result = false;
                    }
                });
                return result;
            }
        );
        $('#myModal').on('hidden.bs.modal', function () {
            $("#frmLogin")[0].reset();
            $('#Password').rules('remove', 'validatePassword');
        });
        $("#frmLogin").validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                    validateEmail: true,
                    validateEmailLocked: true
                },
                Password: {
                    required: true
                    //validatePassword: true
                }
            },
            errorClass: "text-danger",
            messages: {
                Email: {
                    required: "*Email harus dimasukkan",
                    email: "*Struktur email harus benar",
                    validateEmail: "*Email tidak terdaftar",
                    validateEmailLocked: "*Email terkunci"
                },
                Password: {
                    required: "*Password harus dimasukkan"
                    //validatePassword: "*Password salah"
                }
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "Email") {
                    error.insertAfter(element);
                } else {
                    error.insertAfter("#passPart");
                }
            },
            submitHandler: function(form) {
                $.ajax({
                    type: "post",
                    url: "/Home/Login",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function() {
                    },
                    success: function(apiResponse) {
                        if (apiResponse.success) {
                            debugger;
                            location.reload();
                        }
                        else {
                            if (apiResponse.message === "Password Salah") {
                                $('#Password').rules('add', {
                                    validatePassword: true,
                                    messages: {
                                        validatePassword: "*Password salah"
                                    }
                                });
                                debugger;
                                setTimeout(function () {
                                    $("#Password-error").fadeOut("fast");
                                    $('#Password').rules('remove', 'validatePassword');
                                }, 1000);
                            }
                            $("#Password").valid();
                        }
                    },
                    error: function(errResponse) {
                        alert("Login Failed!");
                        $("#myModal").modal("hide");
                    }
                });
            }
        });

        $("#btnLogin").click(function(e) {
            e.preventDefault();
            if ($("#Password").valid()) {
                //$('#Password').rules('remove', 'validatePassword');
                $("#frmLogin").submit();
            }
        });
    });

    $("#password-input").click(function() {
        var x = document.getElementById("Password");
        if (x.type == "password") {
            x.type = "text";
            $(this).addClass('bi-eye').removeClass('bi-eye-slash'); 
        } else {
            x.type = "password";
            $(this).addClass('bi-eye-slash').removeClass('bi-eye');
        }
    });
</script>
