﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.email = Context.Session.GetString("email")?? String.Empty;
    ViewBag.password = Context.Session.GetString("password")?? String.Empty;
}
<form id="frmRegisterAs">
    <input type="hidden" name="Email" value="@ViewBag.email"/>
    <input type="hidden" name="Password" value="@ViewBag.password"/>
    <div class="card">
        <div class="card-header h3 bg-info text-white fw-bold d-flex justify-content-between">
            @ViewBag.Title
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <div class="row my-2" id="FullNamePart">
                <label class="form-label my-0">Nama Lengkap*</label>
                <input id="FullName" class="form-control" type="text" name="FullName" placeholder="Nama Lengkap" />
            </div>
            <div class="row my-2" id="PhoneNumberPart">
                <label class="form-label my-0">Nomor Handphone</label>
                <input id="Mobilephone" class="form-control" type="number" name="Mobilephone" placeholder="Nomor Handphone" />
            </div>
            <div class="row my-2" id="RolePart">
                <label class="form-label my-0">Daftar Sebagai*</label>
                <select class="form-control" name="RoleId">
                    <option value="">--Pilih--</option>
                    @foreach(VMMRole role in ViewBag.Role)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="card-footer py-0">
            <div class="d-flex justify-content-center my-2">
                <button type="submit" id="btnRegistry" class="btn btn-primary btn-lg fw-bold">Daftar</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function(){
        $("#frmRegisterAs").validate({
            rules: {
                FullName: {
                    required: true,
                },
                RoleId: {
                    required: true,
                }
            },
            errorClass: "text-danger",
            messages: {
                FullName: {
                    required: "*Nama Lengkap harus dimasukkan"
                },
                RoleId: {
                    required: "Role harus dimasukkan"
                }
            },
            submitHandler: function(form) {
                $.ajax({
                    url: "/Home/RegisterAs",
                    type: "post",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function() { },
                    success: function(apiresponse) {
                        if (apiresponse.success) {
                            debugger;
                            setTimeout(function () {
                                    location.reload();
                            }, 1000);
                        }
                        else {
                            alert(apiresponse.message);
                        }
                    },
                    error: function(errresponse) {
                        alert("Registration process Failed!");
                        $("#myModal").modal("hide");
                    }
                });
            }
        });
    });
</script>
