﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<form id="frmRegister">
    <div class="card">
        <div class="card-header h3 bg-info text-white fw-bold d-flex justify-content-between">
            @ViewBag.Title
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <label>Masukkan Email Anda. Kami akan melakukan pengecekan.</label>
            <div class="row">
                <label class="form-label">e-mail*</label>
                <input id="Email" class="form-control" type="email" name="Email" placeholder="e-mail" />
            </div>
        </div>
        <div class="card-footer py-0">
            <div class="d-flex justify-content-center my-2">
                <button type="submit" id="btnOTP" class="btn btn-primary btn-lg fw-bold">Kirim OTP</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function(){
        $.validator.addMethod(
            "validateEmailRegister",
            function (value, element, params) {
                var result = false;
                var formData = $("#frmRegister").serialize();
                debugger;
                $.ajax({
                    url: "/Home/EmailAuthRegister",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        result = response.success;
                        debugger;
                    },
                    error: function (errResponse) {
                        result = false;
                    }
                });
                debugger;
                return result;
            }
        );
        $("#frmRegister").validate({
            rules:{
                Email:{
                    required: true,
                    email: true,
                    validateEmailRegister: true
                }
            },
            errorClass: "text-danger",
            messages:{
                Email: {
                    required: "*Email harus dimasukkan",
                    email: "*Struktur email harus benar",
                    validateEmailRegister: "*Email sudah terdaftar"
                }
            },
            submitHandler: function(form){
                $.ajax({
                    type: "post",
                    url: "/Home/Register",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function() {
                    },
                    success: function(apiResponse) {
                        if (apiResponse.success) {
                            $("#myModalBody").load("Home/TokenVerification");
                            $("#myModal").modal("show");
                        }
                        else {
                            alert(apiResponse.message);
                        }
                    },
                    error: function(errResponse) {
                        alert("Register Failed");
                        $("#myModal").modal("hide");
                    }
                }); 
            }
        });
    });
</script>
