﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.email = Context.Session.GetString("email")?? String.Empty;
}
<form id="frmSetPassword">
    <div class="card">
        <input type="hidden" name="Email" value="@ViewBag.email" />
        <div class="card-header h3 bg-info text-white fw-bold d-flex justify-content-between">
            @ViewBag.Title
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <label>Masukkan password baru untuk akun anda</label>
            <div class="row my-2">
                <label class="form-label px-0">Password*</label>
                <div class="input-group px-0" id="passPart">
                    <button class="btn btn-rounded btn-success bi-eye-slash" type="button" id="password-input"></button>
                    <input id="Password" class="form-control" type="password" name="Password" placeholder="password" autocorrect="off" />
                </div>
            </div>
            <div class="row my-2">
                <label class="form-label px-0">Masukkan ulang password*</label>
                <div class="input-group px-0" id="passAgainPart">
                    <button class="btn btn-rounded btn-success bi-eye-slash" type="button" id="password-input-again"></button>
                    <input id="RepeatPassword" class="form-control" type="password" name="RepeatPassword" placeholder="password" autocorrect="off" />
                </div>
            </div>
            <label class="text-sm my-1">Password harus berisi huruf besar, huruf kecil, angka, spesial karakter dan minimal 8 karakter</label>
        </div>
        <div class="card-footer py-0">
            <div class="d-flex justify-content-center my-2">
                <button type="submit" id="btnSetPassword" class="btn btn-primary btn-lg fw-bold">Set Password</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#password-input").click(function() {
            var x = document.getElementById("Password");
            if (x.type == "password") {
                x.type = "text";
                $("#password-input").addClass('bi-eye').removeClass('bi-eye-slash'); 
            } else {
                x.type = "password";
                $("#password-input").addClass('bi-eye-slash').removeClass('bi-eye');
            }
        });
        $("#password-input-again").click(function() {
            var x = document.getElementById("RepeatPassword");
            if (x.type == "password") {
                x.type = "text";
                $("#password-input-again").addClass('bi-eye').removeClass('bi-eye-slash'); 
            } else {
                x.type = "password";
                $("#password-input-again").addClass('bi-eye-slash').removeClass('bi-eye');
            }
        });
        $.validator.addMethod(
            "validatePasswordStandard",
            function (value, element, params) {
                var reg = /[_\-!\"#$;,.:]/;
                var reg2 = /[a-z]/g;
                var reg3 = /[A-Z]/g;
                var reg4 = /[0-9]/g;
                
                return reg.test(value) && reg2.test(value) && reg3.test(value) && reg4.test(value);
            }
        );
        $.validator.addMethod(
            "validateDoublePassword",
            function (value, element, params) {
                var result = true;
                var passwordAwal = $("#Password").val();
                //var formData = $("#frmSetPassword").serialize();
                //var passwordvalue = formData.find(item => item.name === "Password")?.value
                if (value !== passwordAwal) {
                    result = false;
                }
                return result;
            }
        );
        $("#frmSetPassword").validate({
            rules: {
                Password: {
                    required: true,
                    minlength: 8,
                    validatePasswordStandard : true
                },
                RepeatPassword: {
                    required: true,
                    validateDoublePassword: true
                }
            },
            errorClass: "text-danger",
            messages: {
                Password: {
                    required: "*Password harus dimasukkan",
                    minlength: "minimal 8 karakter",
                    validatePasswordStandard: "Password harus mengandung huruf besar, huruf kecil, angka, dan karakter spesial"
                },
                RepeatPassword: {
                    required: "*Password harus dimasukkan",
                    validateDoublePassword: "*Password tidak sama"
                }
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "Password") {
                    error.insertAfter("#passPart");
                } else {
                    error.insertAfter("#passAgainPart");
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "post",
                    url: "/Home/SetForgetPassword",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function() {
                    },
                    success: function(apiResponse) {
                        if (apiResponse.success) {
                            debugger;
                            location.reload();
                        }
                        else {
                            alert(apiResponse.message);
                        }
                    },
                    error: function(errResponse) {
                        alert("Register Failed");
                        $("#myModal").modal("hide");
                    }
                }); 
            }
        });
    });
</script>
