﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.email = Context.Session.GetString("email")?? String.Empty;
}
<form id="frmTokenVerification">
    <input type="hidden" name="Email" value="@ViewBag.email" />
    <div class="card">
        <div class="card-header h3 bg-info text-white fw-bold d-flex justify-content-between">
            @ViewBag.Title
            <button type="button" class="btn btn-lm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
        </div>
        <div class="card-body">
            <label>Masukkan kode OTP yang telah dikirimkan ke email anda</label>
            <div class="row">
                <input id="Token" class="form-control" type="number" name="Token"/>
            </div>
            <div class="text-center my-3">
                Kirim ulang kode OTP dalam 
                <span id="timer"></span>
                <button type="button" class="btn btn-warning btn-resend btn-rounded btn-sm" disabled>Kirim Ulang OTP</button>
            </div>
        </div>
        <div class="card-footer py-0">
            <div class="d-flex justify-content-center my-2">
                <button type="submit" id="btnOTP" class="btn btn-primary btn-lg fw-bold">Konfirmasi OTP</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        timer(180);
        $.validator.addMethod(
            "validateToken",
            function (value, element, params) {
                var result = false;
                var formData = $("#frmTokenVerification").serialize();
                debugger;
                $.ajax({
                    url: "/Home/TokenVerification",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    async: false,
                    success: function (apiresponse) {
                        result = apiresponse.success;
                    },
                    error: function (errResponse) {
                        result = false;
                    }
                });
                debugger;
                return result;
            }
        );
        $.validator.addMethod(
            "validateTokenExpired",
            function (value, element, params) {
                var result = false;
                var formData = $("#frmTokenVerification").serialize();
                debugger;
                $.ajax({
                    url: "/Home/TokenExpired",
                    type: "post",
                    data: formData,
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        result = response.success;
                    },
                    error: function (errResponse) {
                        result = false;
                    }
                });
                debugger;
                return result;
            }
        );
        $("#frmTokenVerification").validate({
            rules: {
                Token: {
                    required: true,
                    validateToken: true,
                    validateTokenExpired: true
                }
            },
            errorClass: "text-danger",
            messages: {
                Token: {
                    required: "Token harus dimasukkan",
                    validateToken: "Token salah",
                    validateTokenExpired: "Token kadaluarsa"
                }
            },
            submitHandler: function(form) {
                $.ajax({
                    type: "post",
                    url: "/Home/TokenVerification",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function() { },
                    success: function(apiresponse) {
                        if (apiresponse.success) {
                            $("#myModalBody").load("Home/SetPassword");
                            $("#myModal").modal("show");
                            debugger;
                        }
                        else {
                            alert("OTP Salah!")
                            debugger;
                        }
                    },
                    error: function(errresponse) {
                        alert("Login Failed!");
                        $("#myModal").modal("hide");
                    }
                });
            }
        });
    });
    function timer(remaining) {
        let timerOn = true;
        var m = Math.floor(remaining / 60);
        var s = remaining % 60;
        m = m < 10 ? '0' + m : m;
        s = s < 10 ? '0' + s : s;
        document.getElementById('timer').innerHTML = m + ':' + s;
        remaining -= 1;
        if(remaining >= 0 && timerOn) {
            setTimeout(function() {
            timer(remaining);
            }, 1000);
            return;
        }
        if(!timerOn) {
            return;
        }
        $(".btn-resend").prop("disabled", false);
    }
    //timer(90);

    $('.btn-resend').click(function() {
        $.ajax({
            url: '/Home/ResendToken',
            type: 'post',
            success: function(apiresponse) {
                timer(180)
                $(".btn-resend").prop("disabled", true);
            }
        })
    });
</script>
