﻿@using Med322a.ViewModels;
@model VMCancelAppointment
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-header h3">@ViewBag.Title</div>
    <div class="card-body">
        Anda yakin akan membatalkan rencana kedatangan berikut ?
        <span><h4>@Model.Fullname</h4></span>
        <span><h5>@Model.AppDate?.ToString("d MMMM yyyy"), @Model.MedicFacility</h5></span>
        <span><h6>@Model.DoctorName - @Model.treatment</h6></span>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between">
            &nbsp;
            <form asp-action="Delete" method="post" id="frmDeletePatient">
                <input type="hidden" name="DeletedBy" value="@Model.userid" />
                <input type="hidden" name="AppointmentId" value="@Model.AppointmentId" />
                <input type="hidden" name="DeletedBy" value="@Model.userid" />
                <input type="hidden" name="CustomerId" value="@Model.customerId" />
                <input type="hidden" name="BiodataId" value="@Model.biodataId" />


                <div>
                    <button class="btn btn-sm btn-danger" type="submit"><i class="ti-trash"></i> Yes</button>
                    <button type="button" id="btnCancel" class="btn btn-sm btn-success"><i class="ti-close"></i> No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btnCancel").click(function () {
        $("#myModal").modal("hide")
    })
    $("#frmDeletePatient").validate({
        submitHandler: function (form) {
            debugger;
            if (confirm("Data will be delete..."))
                $.ajax({
                    url: "/CancelAppointment/Delete",
                    type: "post",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function () {
                        // Proses sebelum memanggil Controller
                    },
                    success: function (apiResponse) {
                        // Proses setelah Controller selesai
                        if (apiResponse.success) {
                            location.reload();
                        } else {
                            alert(apiResponse.message)
                        }
                    },
                    error: function (errResponse) {
                        // Proses ketika controller terjadi kesalahan
                        alert("Failed to proceed");

                    }
                });
            else
                return false;
        }
    });
