﻿@using Med322a.ViewModels
@using Med322a.Views.Models.Med322.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PageView<VMCancelAppointment>
<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-md-4 col-xl-3 d-flex align-items-stretch">
				<div class="row ">
					<div class="col-xl-12 align-self-start">
						<div class="card mb-3 ">
							<div class="card-header">
								<h5 class="card-title mb-0">Profile Detail </h5>
							</div>
							<div class="card-body">
								<div class="d-flex justify-content-between">
									&nbsp; <h5><i id="editImages" class="bi-pencil-square" type="button"></i></h5>
								</div>
								<div class="text-center">
									<img id="myImage" src="~/images/@(ViewBag.UserRole.ImagePath??"logo.png")" alt="~/images/logo.png" class="img-fluid rounded-circle mb-2" width="128" height="128">

								</div>
								<h5 id="userName" class="card-title mb-0 text-center">@ViewBag.UserRole.Fullname</h5>
								<div id="userJobClass" class="text-muted mb-2 text-center">@ViewBag.UserRole.Name</div>
							</div>
						</div>

					</div>
					<div class="col-xl-12 align-self-end">
						<div class="mb-4">
							<div>
								<ul class="list-unstyled mb-0">
									<li class="mb-1"><a asp-action="" asp-controller="">Profile @ViewBag.UserRole.Fullname</a></li>
									<li class="mb-1"><a href="#">Pembelian Obat</a></li>
									<li class="mb-1"><a href="#">Rencana Kedatangan</a></li>
									<li class="mb-1"><a href="#">Riwayat Chat Dokter</a></li>
								</ul>
							</div>

						</div>

					</div>
				</div>
			</div>
			<div class="col-md-8 col-xl-9">
				<div class="card">
					<div class="card-header" id="contentViewIndex">
						<form id="frmFindData" asp-action="Index" asp-controller="CancelAppointment">
							<input type="hidden" name="orderby" value="@ViewBag.OrderBy" />
							<div class="d-flex justify-content-between mb-3">
								<button id="btnAdd" type="button" class="btn btn-success btn-sm"><i class="bi-plus-lg"></i></button>
								<button id="btnDeleteSelected" type="button" class="btn btn-danger btn-sm"><i class="bi-trash"></i> Cancel Selected Appointment</button>
								<div class="input-group w-50">
									<input id="txtFilter" name="Filter" placeholder="Find..." class="form-control" value="@ViewBag.Filter" />
									<button id="btnFilter" type="submit" class="btn btn-sm btn-primary"><i class="bi-search"></i></button>
								</div>
							</div>
						</form>
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									@*<th class="col-1"><a asp-action="ViewDataRelation" asp-route-filter="@ViewBag.Filter" asp-controller="Admin" asp-route-orderby="@ViewBag.OrderID">ID</a></th>*@
									<th class="col-1"><a asp-action="ViewDataRelation" asp-route-filter="" asp-controller="Admin" asp-route-orderby="">*</a></th>
									<th class="col-3"><a asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-controller="CancelAppointment" asp-route-orderby="">Name</a></th>
									<th class="col-2">Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach (VMCancelAppointment data in Model)
								{
									<tr>
										<td><input type="checkbox" class="checkbox-delete" data-multipledelete="@data.customerId" /></td>
										<td>
											<h4>@data.Fullname</h4>
											<span><h5>@data.AppDate?.ToString("d MMMM yyyy"), @data.MedicFacility</h5></span>
											<span><h6>@data.DoctorName - @data.treatment</h6></span>
										</td>
										<td>
											@*<button data-cusrelid="@data.Id" class="btn btnDetails btn-sm btn-info btn-icon" title="Details..."><i class="ti-info"></i></button>*@
											<button data-customermemberid="@data.AppointmentId" class="btn btnEdit btn-sm btn-success btn-icon" title="Edit..."><i class="bi-pencil-square"></i> Ubah</button>
											<button data-customermemberid="@data.AppointmentId" class="btn btnDelete btn-sm btn-danger btn-icon" title="Delete..."><i class="bi-x"></i> Batalkan</button>
										</td>
									</tr>
								}
							</tbody>
							<tfoot>
								<tr>
									<td colspan="7" class="text-center">
										<div class="btn-group btn-rounded">
											<a asp-action="Index" asp-controller="CancelAppointment" title="Previous Page..." class="btn btn-primary btn-circle @(Model.PageIndex < 2? "disabled" : "")"
											   asp-route-filter="@ViewBag.Filter"
											   asp-route-orderby="@ViewBag.OrderBy"
											   asp-route-pageNumber="@(Model.PageIndex <= 1? Model.PageIndex : Model.PageIndex-1)">
												<i class="bi-skip-backward-fill"></i>
											</a>
											<span class="input-group-text">page @Model.PageIndex of @Model.TotalPages</span>
											<a asp-action="Index" asp-controller="CancelAppointment" title="Next Page..." class="btn btn-primary btn-circle @(Model.PageIndex >= Model.TotalPages? "disabled" : "")"
											   asp-route-filter="@ViewBag.Filter"
											   asp-route-orderby="@ViewBag.OrderBy"
											   asp-route-pageNumber="@(Model.PageIndex == Model.TotalPages ? Model.PageIndex : Model.PageIndex+1)">
												<i class="bi-skip-forward-fill"></i>
											</a>
										</div>
									</td>
								</tr>
							</tfoot>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>


<script>
	$(document).ready(function () {
		let userId = Number(@ViewBag.userId)
		let biodataId = Number(@ViewBag.biodataId)

		$("#btnFilter").click(function () {
			debugger
			$("#frmFindData").submit();
		});

		$("#editImages").click(function () {
			$("#myModalBody").load("/Patient/EditImages/" + userId)
			$("#myModal").modal("show")
		});

		$(".btnEdit").click(function () {
			let customermemberid = $(this).data("customermemberid");
			$("#myModalBody").load("/CancelAppointment/Edit/" + customermemberid);
			$("#myModal").modal("show");
		})

		$(".btnDelete").click(function () {
			let customermemberid = $(this).data("customermemberid");
			$("#myModalBody").load("/CancelAppointment/Delete/" + customermemberid);
			$("#myModal").modal("show");
		});
	});
</script>