﻿@model VMMSpecialization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-header h3 bg-primary bg-opacity-25 text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>
    <div class="card-body">
        Anda akan menghapus data @Model.Name ?
    </div>
    <div class="card-footer d-flex justify-content-between">
        &nbsp;
        <div class="row">
            <form id="frmDeleteSpecialization" method="post" asp-action="DeleteSpecialization">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="DeletedBy" value="3" />
                <button type="button" id="btnBatal" class="btn btn-sm btn-warning" title="Tidak">
                    Tidak
                </button>
                <button type="button" id="btnYa" class="btn btn-sm btn-primary" title="Ya">
                    Ya
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    $("#btnBatal").click(function () {
        $("#myModal").modal("hide");
    });

    $("#btnYa").click(function () {
        $.ajax({
            url: "/Doctor/DeleteSpecialization",
            type: "post",
            data: $("#frmDeleteSpecialization").serialize(),
            dataType: "json",
            beforeSent: function () {
                // Melakukan proses sebelum memanggil Controller
            },
            success: function (apiResponse) {
                // Proses setelah Controller selesai
                if (apiResponse.success) {
                    location.reload();
                }
                else {
                    alert(apiResponse.message);
                    return false;
                }
            },
            error: function (errResponse) {
                // Proses ketika Controller terjadi kesalahan
                alert("Delete Doctor Specialization Process Failed!");
                return false;
            }
        });
    });
</script>