﻿@model VMDoctorDetail
<!--
	README for id name.
	img id="imgNavbar"
	img id="myImage"
	h5  id="userName"
	div id="userJobClass"

	Dibawah ini nav-tab pada profile layout
	id="nav-tab1-tab"
	id="nav-tab2-tab"
	id="nav-tab3-tab"
-->
@{
	//Layout = null;
}

@*<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<!-- Bootstrap JS -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

	<link href="~/adminkit/static/css/app.css" rel="stylesheet" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Bootstrap Font Icon CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<style>
	</style>
</head>

<body>*@
	<nav class="navbar navbar-expand-sm navbar-light bg-info bg-opacity-25 py-0 border">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active text-primary fw-bold" asp-controller="Home" asp-action="Index" aria-current="page">Home</a>
				</div>
				/ 
				<div class="navbar-nav">
					<a class="nav-link active text-primary fw-bold" asp-controller="Home" asp-action="Index" aria-current="page">Cari Dokter</a>
				</div>
				/ @Model.Fullname
			</div>
		</div>
	</nav>
	<main class="content">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-md-5 col-xl-4">
					<div class="mb-3">
						<div class="card-body text-center">
							<div>
								<img class="img-fluid rounded-circle border-primary mb-2 w-100"
								src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
								data-src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
								/>
							</div>
						</div>
					</div>
					<div class="card border mb-3">
						<div class="card-body">
							<h5 class="h6 card-title text-primary fw-bold">Tindakan Medis</h5>
							<ul class="mb-0 dashed">
								@{
									string[]? lists = (Model.TreatmentName == null) ? null : Model.TreatmentName.Split(',');
									if (lists != null)
									{
										foreach (string list in lists)
										{
											<li class="mb-1">@list</li>
										}
									}
								}
							</ul>

							<h5 class="h6 card-title text-primary fw-bold mt-4">Riwayat Praktek</h5>
							<ul class="mb-0 nobulleting">
								@{
									string[]? medicalFacility = (Model.HistoryMedicalFacilityName == null) ? null : Model.HistoryMedicalFacilityName.Split(',');
									string[]? location = (Model.HistoryLocationName == null) ? null : Model.HistoryLocationName.Split(',');
									string[]? medicalSpecialization = (Model.MedicalFacilitySpecialization == null) ? null : Model.MedicalFacilitySpecialization.Split(',');
									string[]? startWorkHistory = (Model.StartYearWorkHistory == null) ? null : Model.StartYearWorkHistory.Split(',');
									string[]? endWorkHistory = (Model.EndYearEducation == null) ? null : Model.EndYearWorkHistory.Split(',');

									if (medicalFacility != null && location != null && medicalSpecialization != null && startWorkHistory != null && endWorkHistory != null)
									{
										for (int i = 0; i < location.Length; i++)
										{
											int strYear = int.Parse(startWorkHistory[i].Substring(6, 4));
											int endYear = int.Parse(endWorkHistory[i].Substring(6, 4));
											string outYear = (endYear > DateTime.Now.Year) ? "sekarang" : endYear.ToString();
											<li class="mb-1">
												<div>
													<label>@medicalFacility[i], @location[i]</label>
													<div class="d-flex justify-content-between timestamp">
														<label>@medicalSpecialization[i]</label>
														<label>@strYear - @outYear</label>
													</div>
												</div>
											</li>
										}
									}
								}
							</ul>

							<h5 class="h6 card-title text-primary fw-bold mt-4">Pendidikan</h5>
							<ul class="mb-0 nobulleting">
								@{
									string[]? institution = (Model.InstitutionName == null) ? null : Model.InstitutionName.Split(',');
									string[]? major = (Model.Major == null) ? null : Model.Major.Split(',');
									string[]? end = (Model.EndYearEducation == null) ? null : Model.EndYearEducation.Split(',');

									if (institution != null && major != null && end != null)
									{
										for (int i = 0; i < end.Length; i++)
										{
											<li class="mb-1">
												<div>
													<label>@institution[i]</label>
													<div class="d-flex justify-content-between timestamp">
														<label>@major[i]</label>
														<label>@end[i]</label>
													</div>
												</div>
											</li>
										}
									}
								}
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-7 col-xl-8">
					<div class="card border">
						<div class="card-header">
							<div class="row">
								<div class="col-8">
									<h1 id="userName" class="mb-0 text-primary">@(
										Model.Fullname ?? " "
										)</h1>
									<div id="userJobClass" class="text-muted">@(
										Model.SpecializationName ?? " "
										)</div>
									<div id="userExperience" class="text-muted">@((int.Parse(Model.YearExperience) < 1) ? "Kurang dari 1" : Model.YearExperience) Tahun Pengalaman</div>
								</div>
								<div class="col-4 text-center m-auto">
									<!-- Button Chat -->
									@{
										List<string> rawDay = new List<string>();
										List<string> rawStartTime = new List<string>();
										List<string> rawEndTime = new List<string>();
										List<string> rawWorkOfficeCategoryId = new List<string>();

										List<string> chatDay = new List<string>();
										List<string> chatStartTime = new List<string>();
										List<string> chatEndTime = new List<string>();
										List<string> chatWorkOfficeCategoryId = new List<string>();
										List<string> dayList = new List<string> { "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu" };

										if (Model.Day.Contains(','))
										{
											rawDay = Model.Day.Split(',').ToList();
											rawStartTime = Model.TimeScheduleStart.Split(',').ToList();
											rawEndTime = Model.TimeScheduleEnd.Split(',').ToList();
											rawWorkOfficeCategoryId = Model.MedicalFacilityCategoryId.Split(',').ToList();
										}
										else
										{
											rawDay.Add(Model.Day);
											rawStartTime.Add(Model.TimeScheduleStart);
											rawEndTime.Add(Model.TimeScheduleEnd); 
											rawWorkOfficeCategoryId.Add(Model.MedicalFacilityCategoryId); 
										}
										DateTime thisTime = DateTime.Now;

										//Baru
										for(int m = 0; m < rawDay.Count; m++)
										{
											if (rawDay[m].Contains('|'))
											{
												string[] temp = rawDay[m].Split('|');
												//countSchedule = temp.Count();
												foreach (string t in temp) chatDay.Add(t);

												temp = rawStartTime[m].Split('|');
												foreach (string t in temp) chatStartTime.Add(t);

												temp = rawEndTime[m].Split('|');
												foreach (string t in temp) chatEndTime.Add(t);
												
												temp = rawWorkOfficeCategoryId[m].Split('|');
												foreach (string t in temp) chatWorkOfficeCategoryId.Add(t);
											}
											else
											{
												chatDay.Add(rawDay[m]);
												chatStartTime.Add(rawStartTime[m]);
												chatEndTime.Add(rawEndTime[m]);
												chatWorkOfficeCategoryId.Add(rawWorkOfficeCategoryId[m]);
											}
										}

										for (int n = 0; n < chatDay.Count(); n++)
										{
											TimeSpan timeSpanStart = Convert.ToDateTime(chatStartTime[n]).TimeOfDay;
											TimeSpan timeSpanEnd = Convert.ToDateTime(chatEndTime[n]).TimeOfDay;
											bool cekTime = timeSpanStart < thisTime.TimeOfDay && timeSpanEnd > thisTime.TimeOfDay;
											if (dayList.Contains(chatDay[n]) && cekTime && chatWorkOfficeCategoryId[n] == "4")
											{
												<a id="chatDokter" class="btn btn-primary text-white w-100 p-2" title="Chat Dokter">
													Chat Dokter
												</a>
												<br />
												<label class="text-primary">Rp @Model.ConsultationPrice</label>
												break;
											}

											if(n + 1 == chatDay.Count())
											{
												<label class="card-title">Offline</label>
											}
										}
									}
								</div>
							</div>
							<div class="row">
								<div class="card border-primary mb-3">
									<div class="card-body mt-3">
										<h5 class="text-primary">Lokasi Praktek</h5>
										<!-- Foreach Lokasi -->
										@{
											List<string> day = new List<string>();
											List<string> startTime = new List<string>();
											List<string> endTime = new List<string>();

											if (Model.Day.Contains(','))
											{
												day = Model.Day.Split(',').ToList();
												startTime = Model.TimeScheduleStart.Split(',').ToList();
												endTime = Model.TimeScheduleEnd.Split(',').ToList();
											}
											else
											{
												day.Add(Model.Day);
												startTime.Add(Model.TimeScheduleStart);
												endTime.Add(Model.TimeScheduleEnd); 
											}

											List<string> nama = new List<string>();
											List<string> lokasiId = new List<string>();
											List<string> address = new List<string>();
											List<string> kategori = new List<string>();

											if (Model.CurrentMedicalFacilityName.Contains(','))
											{
												nama = Model.CurrentMedicalFacilityName.Split(',').ToList();
												lokasiId = Model.MedicalFacilityId.Split(',').ToList();
												kategori = Model.CurrentMedicalFacilityCategory.Split(',').ToList();
												address = Model.FullAddress.Split(',').ToList();
											}
											else
											{
												nama.Add(Model.CurrentMedicalFacilityName);
												lokasiId.Add(Model.MedicalFacilityId);
												kategori.Add(Model.CurrentMedicalFacilityCategory);
												address.Add(Model.FullAddress);
											}

											for (int i = 0; i < nama.Count(); i++)
											{
												<div class="row bg-white border border-primary rounded p-3 mb-6">
													<div class="row mb-2">
														<div class="col-7">
															<div><h3 class="card-title mb-0">@(
																nama[i] ?? " "
																)</h3></div>
															<div class="text-muted ml-2">@(
																kategori[i] ?? " "
																)</div>
															<div class="text-muted ml-2"><i class="bi bi-geo-alt-fill"></i>@(
																address[i] ?? " "
																)</div>
														</div>
														<div class="col-5 text-center">
															<label class="text-primary">Konsultasi mulai dari</label><br>
															<label class="text-primary">Rp @Model.AppointmentPriceStartFrom</label>
														</div>
													</div>
													<hr class="border-primary mb-2" />
													<a id="up-@lokasiId[i]" class="btn btn-sm btn-link text-primary text-first"><i class="bi bi-chevron-up"></i> Lihat Jadwal Praktek</a>
													<div id="scheduleContent-@lokasiId[i]" class="row mt-2 d-none">
														<div class="col-7">
															<!-- Foreach schedule -->
															@{
																int countSchedule = 1;
																if (day[i].Contains('|'))
																{
																	string[] temp2 = day[i].Split('|');
																	countSchedule = temp2.Count();
																	foreach (string t in temp2) day.Add(t);
																	day.RemoveAt(i);

																	temp2 = startTime[i].Split('|');
																	foreach (string t in temp2) startTime.Add(t);
																	startTime.RemoveAt(i);

																	temp2 = endTime[i].Split('|');
																	foreach (string t in temp2) endTime.Add(t);
																	endTime.RemoveAt(i);
																}

																for (int j = 0; j < countSchedule; j++)
																{
																	<div class="row">
																		<div class="col-5">
																			<label>@day[j]</label>
																		</div>
																		<div class="col-7">
																			<label>@startTime[j] - @endTime[j]</label>
																		</div>
																	</div>
																}
															}
														</div>
														<div class="col-5 text-center m-auto">
															<a id="buatJanji" class="btn btn-sm btn-primary text-white rounded w-50 p-2" title="Buat Janji">
																Buat Janji
															</a>
														</div>
													</div>
												</div>
												<script>
												$(document).ready(function () {
													var id = @lokasiId[i];
													$("#up-" + id).click(function () {
														if($("#scheduleContent-" + id).hasClass("d-none")) {
															$("#up-" + id).html(`<i class="bi bi-chevron-down"></i> Sembunyikan Jadwal Praktek`);
															$("#scheduleContent-" + id).removeClass("d-none");
														}
														else {
															$("#up-" + id).html(`<i class="bi bi-chevron-up"></i> Lihat Jadwal Praktek`);
															$("#scheduleContent-" + id).addClass("d-none");
														}
													});
												});
												</script>
											}
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
@*</body>
</html>*@

