﻿@model VMDoctorProfile
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    @*<div class="card-header h3 bg-primary text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close text-white" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
    </div>
    <form id="frmEditPhoto" method="post" asp-action="EditPhoto">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="ModifiedBy" value="2" />
        <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
        <div class="card-body">
            <div class="row text-center">
                <img id="previewImg" class="rounded show-image img-fluid w-25 m-auto"
                     src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
                     data-src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
                />
                <label id="imgName" class="form-label col-12" for="previewImg">@(Model.ImagePath ?? "logo.png")</label>
            </div>
            <hr />
            <div class="row">
                <label class="form-label" for="fImage">Foto Profil</label>
                <input type="file" id="fImage" class="form-control p-1" name="ImageFile" accept=".jpg, .jpeg, .png" />
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-sm btn-warning" title="Ubah">Ubah</button>
        </div>
    </form>*@

    <div class="card-header h3 bg-primary bg-opacity-25 text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"></button>
    </div>
    <form id="frmEditPhoto" class="p-3" method="post" asp-action="EditPhoto">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <input type="hidden" name="ModifiedBy" value="2" />
        <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
        <div class="card-body text-center">
            <img id="previewImg" class="rounded show-image img-fluid w-50 m-auto"
                 src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
                 data-src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")" />
            <label id="imgName" class="form-label col-12 mt-2" for="previewImg">@(Model.ImagePath ?? "logo.png")</label>
        </div>
        <label class="form-label col-2" for="fImage">Image</label>
        <input type="file" id="fImage" class="form-control col-10 p-1" name="ImageFile" accept="image/jpg, image/jpeg, image/png" />
        <div id="error-message" class="row mt-3 p-0 text-danger"></div>
        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary" title="Ubah">
                Ubah
            </button>
        </div>
    </form>
</div>

<script>
    $("#frmEditPhoto").submit(function (event) {
        var fileName = document.getElementById("fImage").value;
        var idxDot = fileName.lastIndexOf(".") + 1;
        var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
            var formData = new FormData($(this)[0]);
            event.preventDefault();
            $.ajax({
                url: "/Doctor/EditPhoto",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                beforeSent: function () {
                    // Melakukan proses sebelum memanggil Controller
                },
                success: function (apiResponse) {
                    // Proses setelah Controller selesai
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        $("#error-message").empty();
                        $("#error-message").append(`<label>${apiResponse.message}<label>`);
                        return false;
                    }
                },
                error: function (errResponse) {
                    // Proses ketika Controller terjadi kesalahan
                    $("#error-message").empty();
                    $("#error-message").append(`<label>Proses Edit Foto Gagal!<label>`);
                    return false;
                }
            });
        } else {
            $("#error-message").empty();
            $("#error-message").append(`<label>Only jpg/jpeg and png files are allowed!<label>`);
            return false;
        }   
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#previewImg').attr('src', e.target.result);
                $('#previewImg').attr('data-src', e.target.result);
                let fileName = input.files[0].name;
                $('#imgName').text(fileName);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#fImage").change(function () {
        readURL(this);
    });
</script>