﻿@model VMMSpecialization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="card">
    <div class="card-header h3 bg-primary bg-opacity-25 text-white d-flex justify-content-between">
        @ViewBag.Title
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>
    <form id="frmEditSpecialization" method="post" asp-action="EditSpecialization">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="ModifiedBy" value="2" />
        <div class="card-body">
            <label class="form-label">Name<sup>*</sup></label>
            <input class="form-control col-8" type="text" name="Name" value="@Model.Name" />
            <div id="error-message" class="row alert mt-3 p-0 text-danger" role="alert"></div>
            <div id="error-message2" class="row mt-3 p-0 text-danger"></div>
        </div>
        <div class="card-footer text-end">
            <button type="button" id="btnBatal" class="btn btn-sm btn-warning" title="Batal">
                Batal
            </button>
            <button type="submit" class="btn btn-sm btn-primary" title="Simpan">
                Simpan
            </button>
        </div>
    </form>
</div>

<script>
    $("#btnBatal").click(function () {
        $("#myModal").modal("hide");
    });

    $("#frmEditSpecialization").validate({
        rules: {
            Name: {
                maxlength: 50,
                required: true
            }
        },
        errorClass: "text-danger",
        errorLabelContainer: "#error-message",
        debug: true,
        messages: {
            Name: {
                required: "Specialization Name is required!",
                maxlength: "Specialization Name maximum at 50 characters!"
            }
        }
    });

    $("#frmEditSpecialization").submit(function (event) {
        if ($("#frmEditSpecialization").valid()) {
            var formData = new FormData($(this)[0]);
            event.preventDefault();
            $.ajax({
                url: "/Doctor/EditSpecialization",
                type: "post",
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                beforeSent: function () {
                    // Melakukan proses sebelum memanggil Controller
                },
                success: function (apiResponse) {
                    // Proses setelah Controller selesai
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        $("#error-message2").empty();
                        $("#error-message2").append(`<label>${apiResponse.message}<label>`);
                        //return false;
                    }
                },
                error: function (errResponse) {
                    // Proses ketika Controller terjadi kesalahan
                    $("#error-message2").empty();
                    $("#error-message2").append(`<label>Edit Doctor Specialization Process Failed!<label>`);
                    return false;
                }
            });
        }
    });

    //$("#error-message").change(function () {
    //    $("#error-message2").empty();
    //}
</script>