﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_DokterProfileSharedLayout";
}

<div>
	<img class="img-fluid rounded-circle border-primary mb-2"
		 width="128" height="128"
		 src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
		 data-src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")" />
	<button data-userid="@(Model.UserId)" id="editImages" class="btn btn-sm btn-link m-0 p-0" data-toggle="tooltip" title="Ubah Foto Profil"><i class="bi-pencil-square"></i></button>
</div>

<script>
	$(document).ready(function () {
		//$(".imgEdit").click(function () {
		//	$("#myModalBody").load("/Doctor/EditPhoto/" + userId)
		//	$("#myModal").modal("show")
		//});

		$("#editImages").click(function () {
			let userId = Number(@ViewBag.userId)
			debugger;
			$("#myModalBody").load("/Doctor/EditPhoto/" + userId)
			$("#myModal").modal("show")
		});
	});
</script>
