﻿@model PaginationModel<VMVWDoctor>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = null;
}

@*<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
        <meta name="author" content="AdminKit">
        <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="shortcut icon" href="~/images/MED-logo.png" />

        <link rel="canonical" href="https://demo-basic.adminkit.io/" />

        <title>AdminKit Demo - Bootstrap 5 Admin Template</title>

        <!-- JQuery JS -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>*@
        <nav class="navbar navbar-expand-sm navbar-light bg-info bg-opacity-25 py-0 border">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active text-primary fw-bold" asp-controller="Home" asp-action="Index" aria-current="page">Beranda</a>
                    </div>
                    / Cari Dokter
                </div>
            </div>
        </nav>
        <div class="content bg-white">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-8">
                        <label>Hasil Pencarian berdasarkan kata kunci : <span>@ViewBag.Keyword</span></label>
                    </div>
                    <div class="col-4 text-end">
                        <button type="button" id="btnUlangCari" class="btn btn-white text-primary border-primary text-center" title="Ulangi Pencarian">
                            Ulangi Pencarian
                        </button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="text-end">
                        <form id="frmFindData" method="post" asp-controller="Doctor" asp-action="SearchDoctorResult">
                            <input type="hidden" name="SpecializationName" value="@ViewBag.SpecializationName" />
                            <input type="hidden" name="LocationName" value="@ViewBag.LocationName" />
                            <input type="hidden" name="Fullname" value="@ViewBag.Fullname" />
                            <input type="hidden" name="TreatmentName" value="@ViewBag.TreatmentName" />
                            <div class="input-group text-end">
                                <label class="input-group-text w-25">Urutkan Berdasarkan</label>
                                <select id="urutkan" name="orderby" class="form-select w-50">
                                    <option value="">--- Pilih ---</option>
                                    @{
                                        List<List<string>> optionUrut = new List<List<string>>();
                                        optionUrut.Add(new List<string>() { "lokasi", "Lokasi" });
                                        optionUrut.Add(new List<string>() { "nama", "Nama Dokter" });
                                        optionUrut.Add(new List<string>() { "spesialisasi", "Spesialisasi" });
                                        optionUrut.Add(new List<string>() { "pengalaman", "Tahun Pengalaman" });
                                        foreach(List<string> s in optionUrut)
                                        {
                                            if(ViewBag.OrderBy == s[0])
                                            {
                                                <option value="@s[0]" selected>@s[1]</option>
                                            }
                                            else
                                            {
                                                <option value="@s[0]">@s[1]</option>
                                            }
                                        }
                                    }
                                </select>
                                <select id="urutan" name="sort" class="form-select">
                                    @{
                                        List<List<string>> optionOrder = new List<List<string>>();
                                        optionOrder.Add(new List<string>() { "asc", "Ascending" });
                                        optionOrder.Add(new List<string>() { "desc", "Descending" });
                                        foreach (List<string> s in optionOrder)
                                        {
                                            if (ViewBag.Sort == s[0])
                                            {
                                                <option value="@s[0]" selected>@s[1]</option>
                                            }
                                            else
                                            {
                                                <option value="@s[0]">@s[1]</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="input-group text-end mt-2">
                                <label class="input-group-text w-25">Data per halaman</label>
                                <select id="halaman" name="pgSize" class="form-select">
                                    @{
                                        List<List<string>> optionPage = new List<List<string>>();
                                        optionPage.Add(new List<string>() { "2", "2" });
                                        optionPage.Add(new List<string>() { "5", "5" });
                                        optionPage.Add(new List<string>() { "10", "10" });
                                        foreach (List<string> s in optionPage)
                                        {
                                            if (ViewBag.PgSize == int.Parse(s[0]))
                                            {
                                                <option value="@s[0]" selected>@s[1]</option>
                                            }
                                            else
                                            {
                                                <option value="@s[0]">@s[1]</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Urutkan</button>
                        </form>
                    </div>
                </div>
                <div id="searchResult" class="row mt-4">
                    @foreach (VMVWDoctor doctor in Model)
                    {
                    // Hasil pencarian disini
                        List<string> nama = new List<string>();
                        List<string> lokasi = new List<string>();
                        if(doctor.MedicalFacilityName.Contains(','))
                        {
                            nama = doctor.MedicalFacilityName.Split(',').ToList();
                            lokasi = doctor.LocationName.Split(',').ToList();
                        }
                        else
                        {
                            nama.Add(doctor.MedicalFacilityName);
                            lokasi.Add(doctor.LocationName);
                        }
                        
                        string[] daftarHari = { "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu" };
                        List<string> hari = new List<string>();
                        List<string> mulai = new List<string>();
                        List<string> akhir = new List<string>();
                        List<string> kategori = new List<string>();
                        if (doctor.Day.Contains(','))
                        {
                            hari = doctor.Day.Split(',').ToList();
                            mulai = doctor.TimeScheduleStart.Split(',').ToList();
                            akhir = doctor.TimeScheduleEnd.Split(',').ToList();
                            kategori = doctor.MedicalFacilityCategoryId.Split(',').ToList();
                        }
                        else
                        {
                            hari.Add(doctor.Day);
                            mulai.Add(doctor.TimeScheduleStart);
                            akhir.Add(doctor.TimeScheduleEnd);
                            kategori.Add(doctor.MedicalFacilityCategoryId);
                        }
                        DateTime thisTime = DateTime.Now;

                        <div class="col-6 p-4">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title mb-0">@doctor.Fullname</h5>
                                    <div class="text-muted">@doctor.SpecializationName</div>
                                    <div class="text-muted mb-3">@((int.Parse(doctor.YearExperience) < 1) ? "Kurang dari 1" : doctor.YearExperience) Tahun Pengalaman</div>
                                    <!-- Foreach Lokasi Praktek Sekarang -->
                                    @for (int i = 0; i < nama.Count(); i++)
                                    {
                                        <div>
                                            <i class="bi bi-building"></i>
                                            <label> @nama[i] (@lokasi[i])</label>
                                        </div>
                                    }
                                </div>
                                <div class="col-4 text-center">
                                    <!-- Image Dokter -->
                                    <img class="img-fluid rounded-circle border-primary mb-4 w-100"
                                         src="~/@ViewBag.ImgFolder/@(doctor.ImagePath??"logo.png")"
                                         data-src="~/@ViewBag.ImgFolder/@(doctor.ImagePath??"logo.png")" />
                                    <!-- Button Chat -->
                                    @for (int j = 0; j < hari.Count(); j++)
                                    {
                                        TimeSpan startTime = Convert.ToDateTime(mulai[j]).TimeOfDay;
                                        TimeSpan endTime = Convert.ToDateTime(akhir[j]).TimeOfDay;
                                        bool cekTime = startTime < thisTime.TimeOfDay && endTime > thisTime.TimeOfDay;
                                        if (daftarHari.Contains(hari[j]) && cekTime && kategori[j] == "4")
                                        {
                                            <a id="chatDokter" class="btn btn-white text-primary border-primary w-100" title="Chat">
                                                Chat
                                            </a>
                                            break;
                                        }

                                        if(j + 1 == hari.Count())
                                        {
                                            <label class="card-title">Offline</label>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-8">
                                    <!-- Button Detail Dokter -->
                                    <a id="detailDokter" data-dokterid="@doctor.DoctorId" class="btn btn-white text-primary border-primary w-100" asp-controller="Doctor" asp-route-doctorid="@doctor.DoctorId" asp-action="Details" title="Detail Dokter">
                                        Lihat info lebih banyak
                                    </a>
                                </div>
                                <div class="col-4">
                                    <!-- Button Janji -->
                                    <a id="buatJanji" class="btn btn-primary text-white w-100" title="Buat Janji">
                                        Buat Janji
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @*<div class="row text-end">
                    <label>Menampilkan 1 - 10 dari 83</label>
                    <button type="button" id="sebelumnya" class="btn btn-sm btn-white text-primary border-primary text-center disabled" title="Sebelumnya">
                        Sebelumnya
                    </button>
                    <button type="button" id="selanjutnya" class="btn btn-sm btn-white text-primary border-primary text-center" title="Selanjutnya">
                        Selanjutnya
                    </button>
                </div>*@
                <div class="float-end">
                    <form id="frmPaging" method="post" asp-controller="Doctor" asp-action="SearchDoctorResult">
                        <input type="hidden" name="SpecializationName" value="@ViewBag.SpecializationName" />
                        <input type="hidden" name="LocationName" value="@ViewBag.LocationName" />
                        <input type="hidden" name="Fullname" value="@ViewBag.Fullname" />
                        <input type="hidden" name="TreatmentName" value="@ViewBag.TreatmentName" />
                        <input type="hidden" name="filter" value="@ViewBag.Filter" />
                        <input type="hidden" name="orderby" value="@ViewBag.Orderby" />
                        <input type="hidden" name="sort" value="@ViewBag.Sort" />

                        <div class="btn-group">
                            <button type="submit" class="btn btn-white border-primary text-primary @(Model.PageIndex < 2 ? "disabled" : "")"
                                    asp-route-pagenumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex - 1)"
                                    title="Sebelumnya">
                                Sebelumnya
                            </button>
                            <span class="input-group-text">@Model.PageIndex</span>
                            <button type="submit" class="btn btn-white border-primary text-primary @(Model.PageIndex >= Model.TotalPages ? "disabled" : "")"
                                    asp-route-pagenumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex + 1)"
                                    title="Selanjutnya">
                                Selanjutnya
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <link href="~/adminkit/static/css/app.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

        <!-- Bootstrap JS -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        @*<script src="~/adminkit/static/js/app.js"></script>*@

        <script>
            $(document).ready(function () {
                $("#btnUlangCari").click(function () {
                    $("#myModalBody").load("/Doctor/SearchDoctor");
                    $("#myModal").modal("show");
                    debugger;
                });

                //$("#urutFilter").change(function () {
                //    var newUrutkan = $(this).val();
                //    var updatedUrl = updateQueryStringParameter("orderby", newUrutkan);
                //    window.location.href = updatedUrl;
                //});
            });
        </script>
    @*</body>
</html>*@