﻿@model PaginationModel<VMMSpecialization>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<div class="card border">
    <div class="card-header h3 bg-primary bg-opacity-25">
        <b>@ViewBag.Title</b>
    </div>
    <div class="card-body">
        <div class="row">
            <form id="frmFind" asp-action="Specialization">
                <input type="hidden" name="orderby" value="@ViewBag.OrderBy" />
                <input type="hidden" name="pgSize" value="@ViewBag.PgSize" />
                <div class="d-flex justify-content-between">
                    <div class="input-group w-25">
                        <input id="txtFilter" class="form-control" name="Filter" placeholder="Search by nama" value="@ViewBag.Filter" />
                        @*<div class="input-group-append">
                        <span id="btnFilter" class="btn btn-rounded btn-primary"><i class="fas fa-search"></i></span>
                        </div>*@
                    </div>
                    <button id="btnAdd" class="btn btn-circle btn-primary bg-opacity-50" type="button"><b>Tambah</b></button>
                </div>
            </form>
        </div>
        <div class="row text-end mt-3">
            <form id="frmPage" asp-action="Specialization">
                <input type="hidden" name="filter" value="@ViewBag.Filter" />
                <input type="hidden" name="orderby" value="@ViewBag.OrderBy" />
                <div class="input-group text-end mt-2">
                    <label class="input-group-text w-25">Data per halaman</label>
                    <select id="halaman" name="pgSize" class="form-select">
                        @{
                            List<List<string>> optionPage = new List<List<string>>();
                            optionPage.Add(new List<string>() { "2", "2" });
                            optionPage.Add(new List<string>() { "5", "5" });
                            optionPage.Add(new List<string>() { "10", "10" });
                            foreach (List<string> s in optionPage)
                            {
                                if (ViewBag.PgSize == int.Parse(s[0]))
                                {
                                    <option value="@s[0]" selected>@s[1]</option>
                                }
                                else
                                {
                                    <option value="@s[0]">@s[1]</option>
                                }
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Urutkan</button>
            </form>
        </div>

        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <table class="table table-borderless border mt-1">
                    <thead class="bg-primary bg-opacity-25">
                        <tr>
                            <th class="col-2"><a class="text-black" asp-action="Specialization" asp-route-filter="@ViewBag.Filter" asp-route-pgSize="@ViewBag.PgSize" asp-route-orderby="@ViewBag.OrderName">NAMA</a></th>
                            <th class="col-2"><a class="text-black" @*asp-action="Specialization" asp-route-filter="@ViewBag.Filter" asp-route-orderby="@ViewBag.OrderModifiedByName"*@>NAMA PENGEDIT</a></th>
                            @*<th class="col-1">Is Delete</th>*@
                            <th class="col-2 text-black"><b>#</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (VMMSpecialization specialization in Model)
                        {
                            <tr>
                                <td>@specialization.Name</td>
                                <td>@(specialization.ModifiedByName ?? "-")</td>
                                <td class="btn-group text-end">
                                    <button data-specializationid="@specialization.Id" class="btn btn-primary btnUpdate" data-toggle="tooltip" title="Update"><b>Update</b></button>
                                    <button data-specializationid="@specialization.Id" class="btn btn-danger btnDelete" data-toggle="tooltip" title="Hapus"><b>Hapus</b></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="btn-group float-end">
                    <a asp-action="Specialization" class="btn fw-bold @(Model.PageIndex < 2 ? "disabled" : "")"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-orderby="@ViewBag.OrderBy"
                       asp-route-pgSize="@ViewBag.PgSize"
                       asp-route-pagenumber="@(Model.PageIndex <= 1 ? Model.PageIndex : Model.PageIndex - 1)"
                       title="Previous Page">
                        &lt;&lt;
                    </a>
                    <span class="input-group-text">@Model.PageIndex</span>
                    <a asp-action="Specialization" class="btn fw-bold @(Model.PageIndex >= Model.TotalPages ? "disabled" : "")"
                       asp-route-filter="@ViewBag.Filter"
                       asp-route-orderby="@ViewBag.OrderBy"
                       asp-route-pgSize="@ViewBag.PgSize"
                       asp-route-pagenumber="@(Model.PageIndex >= Model.TotalPages ? Model.PageIndex : Model.PageIndex + 1)"
                       title="Next Page">
                        &gt;&gt;
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            $("#myModalBody").load("/Doctor/AddSpecialization");
            $("#myModal").modal("show");
        });

        $("#txtFilter").keydown(function (e) {
            if (e.keyCode == 13) {
                $("#frmFind").submit();
            }
        });

        $(".btnUpdate").click(function () {
            var specializationId = $(this).data("specializationid");
            $("#myModalBody").load("/Doctor/EditSpecialization/" + specializationId);
            $("#myModal").modal("show");
        });

        $(".btnDelete").click(function () {
            var specializationId = $(this).data("specializationid");
            $("#myModalBody").load("/Doctor/DeleteSpecialization/" + specializationId);
            $("#myModal").modal("show");
        });
    });

    //$("#halaman").change(function () {
    //    var pageSize = $(this).val();
    //    var filterBy = @ViewBag.Filter;
    //    var order = @ViewBag.OrderBy;
    //    debugger;
    //    $.ajax({
    //        url: "/Doctor/Specialization/",
    //        data: { orderby: order, filter: filterBy, pgSize: pageSize },
    //        dataType: "json",
    //        beforeSent: function () {
    //            // Melakukan proses sebelum memanggil Controller
    //        },
    //        success: function (apiResponse) {
    //            // Proses setelah Controller selesai
    //            if (apiResponse.success) {
    //                location.reload();
    //                debugger;
    //            }
    //            else {
    //                alert(apiResponse.message);
    //                debugger;
    //                return false;
    //            }
    //        },
    //        error: function (errResponse) {
    //            debugger;
    //            // Proses ketika Controller terjadi kesalahan
    //            alert("Process Page Size Failed!");
    //            return false;
    //        }
    //    });
    //});
</script>