﻿@using Med322a.ViewModels
@model VMMPaymentMethod
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.UserID = Context.Session.GetString("userId") ?? String.Empty;
}
<form id="frmNewPayment" method="post" asp-controller="Payment" asp-action="Add">
    <input type="hidden" name="CreatedBy" value="@ViewBag.UserID" />
    <div class="card">
        <div class="card-header h3">@ViewBag.Title</div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Jenis Pembayaran</label>
                <input class="form-control" type="text" name="Name" />
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success float-end"><i data-feather="save"></i>Save</button>
            </div>
        </div>
    </div>
</form>
<script>
$(document).ready(function(){
    $.validator.addMethod(
        "validatePaymentName",
        function (value, element, params) {
            var result = true;
            var formData = $("#frmNewPayment").serialize();
            debugger;
            $.ajax({
                url: "/Payment/Validasi",
                type: "post",
                data: formData,
                dataType: "json",
                //async: false,
                success: function (response) {
                    result = response.success;
                    debugger;
                },
                error: function (errResponse) {
                    result = false;
                }
            });
            debugger;
            return result;
        }
    );    
    $("#frmNewPayment").validate({
        rules: {
            Name: {
                minlength: 3,
                maxlength: 100,
                required: true,
                validatePaymentName: true
            }
        },
        errorClass: "text-danger",
        messages: {
            Name: {
                required: "Jenis Pembayaran harus diisi !!",
                minlength: "Minimal 3 Karakter !!",
                validatePaymentName:  "Jenis Pembayaran Sudah Ada !!!"
            }
        },
        submitHandler: function (form) {
            if (confirm("Jenis Pembayaran Baru Akan Disubmit..."))
                $.ajax({
                    url: "/Payment/Add",
                    type: "post",
                    data: $(form).serialize(),
                    dataType: "json",
                    beforeSend: function () {

                    }, success: function (apiResponse) {
                        if (apiResponse.success) {
                            location.reload();
                        }
                        else {
                            alert(apiResponse.message)
                        }
                    }, error: function (errResponse) {
                        alert("Gagal");
                    }
                });
            else
                return false;
        }
    });
});
</script>
