﻿@using Med322a.ViewModels
@model long
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.UserID = Context.Session.GetString("userId") ?? String.Empty;
}
<form id="frmDelPayment" method="post" asp-controller="Payment" asp-action="Delete">
<div class="card">
    <input type="hidden" name="Id" value="@Model" />
    <input type="hidden" name="DeletedBy" value="@ViewBag.UserID" />
    <div class="card-header h2">@ViewBag.Title</div>
    <div class="card-body">
            <label class="form-label">
                Yakin Ingin Menghapus Jenis Pembayaran Ini ?
            </label>

    </div>
    <div class="card-footer d-flex justify-content-center">
        &nbsp;
            <button type="button" id="btnYes" class="btn btn-danger">Ya</button>
            <button type="button" id="btnNo" class="btn btn-info">Tidak</button>
    </div>
</div>
</form>
<script>
    $("#btnYes").click(function () {
        $.ajax({

            url: "/Payment/Delete",
            type: "post",
            data: $("#frmDelPayment").serialize(),
            dataType: "json",
            beforeSend: function () { },
            success: function (apiResp) {
                debugger;
                if (apiResp.success) {
                    debugger;
                    location.reload();
                }
            },
            error: function (errResponse) {
                debugger;
                alert("DELETE PAYMENT FAILED!");
            }
        });
    });
    $("#btnNo").click(function () {
        $("#myModal").modal("hide");
    });
</script>