﻿@using Med322a.ViewModels
@model VMMPaymentMethod
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.UserID = Context.Session.GetString("userId") ?? String.Empty;
}
<form id="frmEditPayment" method="post" asp-action="Update">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ModifiedBy" value="@ViewBag.UserID" />
    <div class="card">
        <div class="card-header h3">@ViewBag.Title</div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Jenis Pembayaran</label>
                <input class="form-control" type="text" name="Name" value="@Model.Name" />
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
                &nbsp;
                <button type="submit" class="btn btn-success float-end">Update</button>
            </div>
        </div>
    </div>
</form>
<script>
    $("#frmEditPayment").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                minlength: 3,
                maxlength: 100,
                required: true
            },
            VaCode: "required"
        }
    });
    $("#frmEditPayment").submit(function (event) {
        debugger;
        event.preventDefault();

        if ($("#frmEditPayment").valid()) {
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: "/Payment/Update",
                type: "post",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                beforeSend: function () { },
                success: function (apiResponse) {
                    debugger;
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        alert(apiResponse.message)
                        location.reload();
                    }
                }, error: function (errResponse) {
                    alert("Update Payment Method Proccess Failed");
                }
            });
        } else {
            debugger;
            alert("Update Payment Method Proccess Failed");
        }
    });
</script>