﻿@using Med322a.ViewModels
@model VMMBank
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewBag.UserID = Context.Session.GetString("userId") ?? String.Empty;
}
<form id="frmNewBank" method="post" asp-controller="Bank" asp-action="Add">
    <input type="hidden" name="CreatedBy" value="@ViewBag.UserID" />
    <div class="card">
        <div class="card-header h3">@ViewBag.Title</div>
        <div class="card-body">
            <div class="row">
                <label class="form-label">Nama Bank</label>
                <input id="name" class="form-control" type="text" name="Name" placeholder="Tanpa 'Bank' !" />
            </div>
            <div class="row">
                <label class="form-label">Kode VA</label>
                <input class="form-control" type="text" name="VaCode" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                &nbsp;
                <button type="submit" class="btn btn-success float-end"><i data-feather="save"></i>Save</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function(){
        
            //$.ajax({
            //    url: "/Bank/Add",
            //    type: "post",
            //    data: formData,
            //    dataType: "json",
            //    processData: false,
            //    contentType: false,
            //    beforeSend: function () { },
            //    success: function (apiResponse) {
            //        debugger;
            //        if (apiResponse.success) {
            //            location.reload();
            //        }
            //        else {
            //            alert(apiResponse.message)
            //        }
            //    }, error: function (errResponse) {
            //        alert("Add New Product Proccess Failed");
            //    }
            //});
     
        $("#frmNewBank").validate({
            rules: {
                Name: {
                    minlength: 3,
                    maxlength: 100,
                    required: true,
                    //validateBankName : true
                },
                VaCode: "required"
            },
            errorClass: "text-danger",
            messages: {
                Name: {
                    required: "Nama Bank harus diisi !!",
                    minlength: "Minimal 3 Karakter !!",
                    //validateBankName : "Nama Bank Sudah Ada !!"
                }
            },
            submitHandler: function (form) {
                    $.ajax({
                        url: "/Bank/Add",
                        type: "post",
                        data: $(form).serialize(),
                        dataType: "json",
                        beforeSend: function () {

                        }, success: function (apiResponse) {
                            if (apiResponse.success) {
                                location.reload();
                            }
                            else {
                                alert(apiResponse.message)
                            }
                        }, error: function (errResponse) {
                            alert("Add New Bank Proccess Failed");
                        }
                    });
            }
        });
        $("#frmNewBank").on("blur", function () {
            var nama = $(this).val();

            $.ajax({
                url: "/Bank/Validasi", // Ganti ControllerName dengan nama controller Anda
                type: "POST",
                data: { nama: nama },
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        // Data belum ada dalam database, Anda dapat menampilkan pesan sukses
                        $("#errorMessage").text(""); // Hapus pesan error jika ada sebelumnya
                    } else {
                        // Data sudah ada dalam database, tampilkan pesan error
                        $("#errorMessage").text(response.message);
                    }
                },
                error: function () {
                    // Tangani error pada permintaan AJAX
                    console.log("Error during AJAX request");
                }
            });
        });
    });
</script>
