﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMMMenuRole


<div class="card">
    <div class="card-header h3 bg-primary text-white d-flex justify-content-between">
        ATUR AKSES        
        <button type="button" class="btn btn-sm btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close"><b></b></button>
    </div>

    <form id="frmNewAtur" method="post" asp-action="AddAkses">
        <input type="hidden" name="CreatedBy" value="1" />
        <div class="card-body">
            <button id="btnSimpan" class="btn btn-sm btn-primary float-end mx-2" title="Simpan">
                Simpan
            </button>
            <button type="button" id="btnBatal" class="btn btn-sm btn-warning float-end mx-1" title="Batal">
                Batal
            </button>
            
            <label><input type="checkbox" id="select-all"> Select All</label><br>
            <label><input type="checkbox" class="checkbox" data-id="1"> Menu1</label><br>
            <label><input type="checkbox" class="checkbox" data-id=2> Menu2</label><br>
            <label><input type="checkbox" class="checkbox" data-id="3"> Menu3</label><br>
        </div>
        
    </form>
</div>



<script>
    $("#btnBatal").click(function () {
        $("#myModal").modal("hide");
    });

    $(document).ready(function () {
        $('#select-all').click(function () {
            $('.checkbox').prop('checked', this.checked);
        });

        $('.checkbox').click(function () {
            if ($('.checkbox:checked').length === $('.checkbox').length) {
                $('#select-all').prop('checked', true);
            } else {
                $('#select-all').prop('checked', false);
            }

            //function toggleChildren(parentId) {
            //    const parentCheckbox = document.getElementById(parentId);
            //    const childrenCheckboxes = document.querySelectorAll(`.child[data-parent="${parentId}"]`);

            //    for (const childCheckbox of childrenCheckboxes) {
            //        childCheckbox.checked = parentCheckbox.checked;
            //    }
            //}
        });

        $('#btnSimpan').click(function () {
            const checkedItems = [];
            $('.checkbox:checked').each(function () {
                const id = $(this).attr('data-id');
                checkedItems.push(id);
            });
            debugger;

            $.ajax({
                type: "post",
                url: "/MenuRole/AddAkses",
                data: { checkedItems: checkedItems },
                beforeSent: function () { },
                success: function (apiResponse) {
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        alert(apiResponse.message);
                        return false;
                    }
                },
                error: function (errResponse) {
                    alert("Add Atur Akses Process Failed!");
                    return false;

                }
            });
        });
    });
</script>