﻿<!--
	README for id name.
	img id="imgNavbar"
	img id="myImage"
	h5  id="userName"
	div id="userJobClass"
	
	Dibawah ini nav-tab pada profile layout
	id nav-tabnya sendiri = myTab

-->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<!-- Bootstrap JS -->
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

	<link href="~/adminkit/static/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
    <body>
	<main class="content">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-md-4 col-xl-3">
					<div class="card mb-3">
						<div class="card-header">
							<h5 class="card-title mb-0">Profile Details </h5>
						</div>
						<div class="card-body align">
							<div>
								<i data-feather="edit-2"></i>
							</div>
							<div class="text-center">
								<img id="myImage" src="~/images/logo.png" alt="~/images/logo.png" class="img-fluid rounded-circle mb-2" width="128" height="128">

							</div>
							<h5  id="userName" class="card-title mb-0">Christina Mason</h5>
							<div id="userJobClass" class="text-muted mb-2">Lead Developer</div>
						</div>
						<hr class="my-0">
						
						<div class="card-body">
							<h5 class="h6 card-title">Menu</h5>
							<ul class="list-unstyled mb-0">
								<li class="mb-1"><a href="#">Pasien</a></li>
								<li class="mb-1"><a href="#">Pembelian Obat</a></li>
								<li class="mb-1"><a href="#">Rencana Kedatangan</a></li>
								<li class="mb-1"><a href="#">Riwayat Chat Dokter</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-8 col-xl-9">
					<div class="card">
						<div class="card-header py-1">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">Alamat</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Pembayaran</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Messages</button>
								</li>
							</ul>
						</div>
						<div class="card-body py-2" id="tabsForProfileSharedLayout">
							<!-- Tab panes -->
							<div class="tab-content" id="tab-content">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

<!-- Tambahkan tautan ke Bootstrap JavaScript di sini -->
<script>
	$(document).ready(function () {
		// Fungsi untuk menampilkan konten sesuai dengan tab yang aktif
		function showTabContent(tabId, content) {
			if ($("#" + tabId).attr("aria-selected") === "true") {
				$("#tab-content").load(content);
			}	
		}
		// Tampilkan konten berdasarkan tab aktif saat halaman dimuat
		showTabContent("profile-tab", "/Patient/Privacy/");
		showTabContent("home-tab", "ini profile");
		showTabContent("messages-tab", "ini Content");
		showTabContent("settings-tab", "ini Setting");

		// Tambahkan event listener untuk setiap tombol tab
		$("#home-tab").click(function () {
			$("#tab-content").load("/Patient/Index/");
		});
		$("#profile-tab").click(function () {
			$("#tab-content").load("/Patient/Privacy/");
		});
		$("#messages-tab").click(function () {
			$("#tab-content").text("user id sekarang adalah : " + @ViewBag.UserRoleId);
		});
		$("#settings-tab").click(function () {
			$("#tab-content").text("ini Setting");
		});
	});
</script>