﻿@model VMDoctorProfile
<!--
	README for id name.
	img id="imgNavbar"
	img id="myImage"
	h5  id="userName"
	div id="userJobClass"
	
	Dibawah ini nav-tab pada profile layout
	id="nav-tab1-tab"
	id="nav-tab2-tab"
	id="nav-tab3-tab"
-->
@{
	//Layout = null;
}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
		<meta name="author" content="AdminKit">
		<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

		<link rel="canonical" href="https://demo-basic.adminkit.io/" />

		<!-- Bootstrap JS -->
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

		<link href="~/adminkit/static/css/app.css" rel="stylesheet" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

		<!-- Bootstrap Font Icon CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<style>
			.editImages {
				position: absolute;
				top: 1.4rem;
				right: 5.2rem;
				z-index: 100;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-expand-sm navbar-light bg-info bg-opacity-25 py-0 border">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active text-primary fw-bold" asp-controller="Home" asp-action="Index" aria-current="page">Home</a>
					</div>
					/ Profile
				</div>
			</div>
		</nav>
		<main class="content">
			<div class="container-fluid p-0">
				<div class="row">
					<div class="col-md-4 col-xl-4">
						<div class="card border mb-3">
							<div class="card-body text-center">
								<div>
									<img class="img-fluid rounded-circle border-primary mb-2"
										 width="128" height="128"
										 src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")"
										 data-src="~/@ViewBag.ImgFolder/@(Model.ImagePath??"logo.png")" />
									<button data-userid="@(Model.UserId)" id="editImages" class="btn btn-sm btn-link m-0 p-0" data-toggle="tooltip" title="Ubah Foto Profil"><i class="bi-pencil-square"></i></button>
								</div>
								<h5 id="userName" class="card-title mb-0 text-primary">@(Model.Fullname ?? " ")</h5>
								<div id="userJobClass" class="text-muted">@(Model.SpecializationName ?? " ")</div>
								<div id="userStar" class="text-muted mb-2">
									@for (int i = 0; i < int.Parse(Model.Str); i++)
									{
										<img src="~/images/star.png" class="img-fluid m-auto" width="20" height="20">
									}
								</div>
								<br />
								<ul class="list-unstyled mt-1 text-start">
									<li class="mb-3 d-flex justify-content-between">
										<a class="link-primary fw-bold" href="#">Janji</a>
										@if(Model.AppointmentCount > 0)
										{
											<span class="badge bg-info bg-opacity-25 text-primary fw-bold">@Model.AppointmentCount</span>
										}
									</li>
									<li class="mb-3 d-flex justify-content-between">
										<a class="link-primary fw-bold" href="#">Obrolan / Konsultasi</a>
										@if (Model.ConsultationCount > 0)
										{
											<span class="badge bg-info bg-opacity-25 text-primary fw-bold">@Model.ConsultationCount</span>
										}
									</li>
								</ul>
							</div>
						</div>
						<div class="card border mb-3">
							<div class="card-header bg-info bg-opacity-25">
								<h5 class="card-title mb-0 text-primary fw-bold">Tentang Saya</h5>
							</div>
							<div class="card-body">
								<h5 class="h6 card-title text-primary fw-bold">Tindakan Medis</h5>
								<ul class="mb-0 dashed">
									@{
										string[]? lists = (Model.TreatmentName == null) ? null : Model.TreatmentName.Split(',');
										if(lists != null)
										{
											foreach (string list in lists)
											{
												<li class="mb-1">@list</li>
											}
										}
									}
								</ul>

								<h5 class="h6 card-title text-primary fw-bold mt-4">Riwayat Praktek</h5>
								<ul class="mb-0 nobulleting">
									@{
										string[]? medicalFacility = (Model.MedicalFacilityName == null) ? null : Model.MedicalFacilityName.Split(',');
										string[]? location = (Model.LocationName == null) ? null : Model.LocationName.Split(',');
										string[]? medicalSpecialization = (Model.MedicalFacilitySpecialization == null) ? null : Model.MedicalFacilitySpecialization.Split(',');
										string[]? startWorkHistory = (Model.StartYearWorkHistory == null) ? null : Model.StartYearWorkHistory.Split(',');
										string[]? endWorkHistory = (Model.EndYearEducation == null) ? null : Model.EndYearWorkHistory.Split(',');

										if (medicalFacility != null && location != null && medicalSpecialization != null && startWorkHistory != null && endWorkHistory != null)
										{
											for (int i = 0; i < location.Length; i++)
											{
												int strYear = int.Parse(startWorkHistory[i].Substring(6, 4));
												int endYear = int.Parse(endWorkHistory[i].Substring(6, 4));
												string outYear = (endYear > DateTime.Now.Year) ? "sekarang" : endYear.ToString();
												<li class="mb-1">
													<div>
														<label>@medicalFacility[i], @location[i]</label>
														<div class="d-flex justify-content-between timestamp">
															<label>@medicalSpecialization[i]</label>
															<label>@strYear - @outYear</label>
														</div>
													</div>
												</li>
											}
										}
									}
								</ul>

								<h5 class="h6 card-title text-primary fw-bold mt-4">Pendidikan</h5>
								<ul class="mb-0 nobulleting">
									@{
										string[]? institution = (Model.InstitutionName == null) ? null : Model.InstitutionName.Split(',');
										string[]? major = (Model.Major == null) ? null : Model.Major.Split(',');
										string[]? end = (Model.EndYearEducation == null) ? null : Model.EndYearEducation.Split(',');

										if(institution != null && major != null && end != null)
										{
											for (int i = 0; i < end.Length; i++)
											{
												<li class="mb-1">
													<div>
														<label>@institution[i]</label>
														<div class="d-flex justify-content-between timestamp">
															<label>@major[i]</label>
															<label>@end[i]</label>
														</div>
													</div>
												</li>
											}
										}
									}
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-8 col-xl-8">
						<div class="card border">
							<div class="card-header">
								<nav>
								<div class="nav nav-tabs" id="nav-tab" role="tablist">
									<button class="nav-link active fw-bold" id="nav-tab1-tab" data-bs-toggle="tab" data-bs-target="#nav-tab1" type="button" role="tab" aria-controls="nav-tab1" aria-selected="true">Tindakan</button>
									<button class="nav-link fw-bold" id="nav-tab2-tab" data-bs-toggle="tab" data-bs-target="#nav-tab2" type="button" role="tab" aria-controls="nav-tab2" aria-selected="false">Aktifitas</button>
									<button class="nav-link fw-bold" id="nav-tab3-tab" data-bs-toggle="tab" data-bs-target="#nav-tab3" type="button" role="tab" aria-controls="nav-tab3" aria-selected="false">Konsultasi</button>
									<button class="nav-link fw-bold" id="nav-tab4-tab" data-bs-toggle="tab" data-bs-target="#nav-tab4" type="button" role="tab" aria-controls="nav-tab4" aria-selected="false">Pengaturan</button>
								</div>
								</nav>
								<div class="tab-content" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1"></div>
									<div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2">
										<partial name="_tabsForProfileSharedLayout" />
									</div>
									<div class="tab-pane fade" id="nav-tab3" role="tabpanel" aria-labelledby="nav-tab3">...</div>
									<div class="tab-pane fade" id="nav-tab4" role="tabpanel" aria-labelledby="nav-tab4">
										<button data-userid="1" class="btn btn-primary btnUpdate" data-toggle="tooltip" title="Update"><b>Update</b></button>
										<button data-userid="1" class="btn btn-danger btnDelete" data-toggle="tooltip" title="Hapus"><b>Hapus</b></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

	</body>
</html>

<script>
	$(document).ready(function () {
		//$(".imgEdit").click(function () {
		//	$("#myModalBody").load("/Doctor/EditPhoto/" + userId)
		//	$("#myModal").modal("show")
		//});

		$("#editImages").click(function () {
			let userId = Number(@ViewBag.UserId)
			debugger;
			$("#myModalBody").load("/Doctor/EditPhoto/" + userId)
			$("#myModal").modal("show")
		});
	});
</script>