@{
	ViewBag.UserRoleId = Context.Session.GetString("userRoleId") ?? String.Empty;

}
<!DOCTYPE html>
<html lang="en">
	@*cek push dari reza prihandi*@
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="~/images/MED-logo.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

	<title>AdminKit Demo - Bootstrap 5 Admin Template</title>

	<!-- JQuery JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>*@
	
</head>

<body>

	<div class="wrapper">
		@if (!string.IsNullOrEmpty(ViewBag.UserRoleId))
		{
			<partial name="_Sidebar" />
		}

		<div class="main">
			<partial name="_Topbar" />

			<main class="content">
				<partial name="_Session" />
				<div class="container-fluid p-0">
					@RenderBody()
				</div>
			</main>

			<footer class="footer" style="background-color:#01579b;">
				<div class="container-fluid">
					<div class="row text-white">
						<div class="col-6 text-start">
							<p class="mb-0">
								<a class="text-white" href="https://adminkit.io/" target="_blank"><strong>Med.ID</strong></a> &copy;
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-white" href="https://adminkit.io/" target="_blank">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-white" href="https://adminkit.io/" target="_blank">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-white" asp-controller="Home" asp-action="Privacy" target="_blank">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-white" href="https://adminkit.io/" target="_blank">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<partial name="_Modal" />

	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<link href="~/adminkit/static/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@*<script src="~/adminkit/static/js/app.js"></script>*@

</body>

</html>