﻿<!-- Standard Modal Pop-Up -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header d-flex align-items-center">
            <h5 id="myModalTitle" class="modal-title">@ViewBag.Title</h5>
            <button type="button" class="btn btn-sm btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>*@
            <div id="myModalBody" class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Large Modal Pop-Up -->
<div class="modal" id="myModalLg" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            @*<div class="modal-header d-flex align-items-center">
            <h5 id="myModalTitleLg" class="modal-title">@ViewBag.Title</h5>
            <button type="button" class="btn btn-sm btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            </div>*@
            <div id="myModalBodyLg" class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Close Modal -->
@*<script>
    $("#btnModalClose").click(function() {
        $("#myModal").modal("hide");
    });
</script>*@


@*<div class="modal" id="myModalAturAkses" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card-header h5 text-white bg-primary">
                <b>ATUR AKSES</b>
            </div>

            <div id="myModalBodyAturAkses" class="modal-body">

                <button type="button" id="btnBatal" class="btn btn-sm btn-warning" title="Batal">
                    Batal
                </button>
                <button id="btnSimpan" class="btn btn-sm btn-primary" title="Simpan">
                    Simpan
                </button>

                <form id="frmNewAtur" method="post" asp-action="MenuRole">
                    <label><input type="checkbox" id="select-all"> Select All</label><br>
                    <label><input type="checkbox" class="checkbox" data-id="1"> Menu1</label><br>
                    <label><input type="checkbox" class="checkbox" data-id=2> Menu2</label><br>
                    <label><input type="checkbox" class="checkbox" data-id="3"> Menu3</label><br>
                    @*<label><input type="checkbox" class="checkbox" data-id="4"> Transaksi</label><br>
                    <label><input type="checkbox" class="checkbox" data-id="5"> Buat Janji</label><br>
                    <label><input type="checkbox" class="checkbox" data-id="6"> Atur Tindakan Dokter</label><br>
                    <label><input type="checkbox" class="checkbox" data-id="7"> Atur Harga Tindakan Dokter</label><br>            
                </form>
            </div>
        </div>
    </div>
</div>*@


@*<script>
    $("#btnBatal").click(function () {
        $("#myModalAturAkses").modal("hide");
    });

    $(document).ready(function () {
        $('#select-all').click(function () {
            $('.checkbox').prop('checked', this.checked);
        });

        $('.checkbox').click(function () {
            if ($('.checkbox:checked').length === $('.checkbox').length) {
                $('#select-all').prop('checked', true);
            } else {
                $('#select-all').prop('checked', false);
            }
        });

        $('#btnSimpan').click(function () {
            const checkedItems = [];
            $('.checkbox:checked').each(function () {
                const id = $(this).attr('data-id');
                checkedItems.push(id);
            });
            debugger;

            $.ajax({
                type: "post",
                url: "/AturAkses/Atur/",
                data: { checkedItems: checkedItems },
                beforeSent: function () { },
                success: function (apiResponse) {
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        alert(apiResponse.message);
                        return false;
                    }
                },
                error: function (errResponse) {
                    alert("Add Atur Akses Process Failed!");
                    return false;
                  
                }
            });
        });
    });
</script>*@

@*<script>
    $("#btnBatal").click(function () {
        $("#myModalAturAkses").modal("hide");
    });

    $(document).ready(function () {
        $('#select-all').click(function () {
            $('.checkbox').prop('checked', this.checked);
        });

        $('.checkbox').click(function () {
            if ($('.checkbox:checked').length === $('.checkbox').length) {
                $('#select-all').prop('checked', true);
            } else {
                $('#select-all').prop('checked', false);
            }

            
        });

        $('#btnSimpan').click(function () {
            const checkedItems = [];
            $('.checkbox:checked').each(function () {
                const id = $(this).attr('data-id');
                checkedItems.push(id);
            });
            debugger;

            $.ajax({
                type: "post",
                url: "/MenuRole/AddAkses",
                data: { checkedItems: checkedItems },
                beforeSent: function () { },
                success: function (apiResponse) {
                    if (apiResponse.success) {
                        location.reload();
                    }
                    else {
                        alert(apiResponse.message);
                        return false;
                    }
                },
                error: function (errResponse) {
                    alert("Add Atur Akses Process Failed!");
                    return false;

                }
            });
        });
    });
</script>

<script>
    function toggleChildren(parentId) {
        const parentCheckbox = document.getElementById(parentId);
        const childrenCheckboxes = document.querySelectorAll(`.child[data-parent="${parentId}"]`);

        for (const childCheckbox of childrenCheckboxes) {
            childCheckbox.checked = parentCheckbox.checked;
        }
    }
</script>*@