﻿<!--
	README for id name.
	img id="imgNavbar"
	img id="myImage"
	h5  id="userName"
	div id="userJobClass"
	
	Dibawah ini nav-tab pada profile layout
	id nav-tabnya sendiri = myTab

-->
@model VMMRole
<!DOCTYPE html>
<html lang="en">
<body>
	<main class="content">
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-md-4 col-xl-3 d-flex align-items-stretch">
					<div class="row ">
						<div class="col-xl-12 align-self-start">
							<div class="card mb-3 ">
								<div class="card-header">
									<h5 class="card-title mb-0 fs-3">Profile Details </h5>
								</div>
								<div class="card-body">
									<div class="d-flex justify-content-between">
										&nbsp; <h5><i id="editImages" class="bi-pencil-square" type="button"></i></h5>
									</div>
									<div class="text-center">
										<img id="myImage" src="~/images/@(Model.ImagePath??"logo.png")" alt="~/images/logo.png" class="img-fluid rounded-circle mb-2" width="250" height="250">

									</div>
									<h5 id="userName" class="card-title mb-0 text-center text-dark fs-3">@Model.Fullname</h5>
									<div id="userJobClass" class="text-muted mb-2 text-center fs-4">@Model.Name</div>
								</div>
							</div>

						</div>
						<div class="col-xl-12 align-self-start">
							<div class="mb-4">
								<div>
									<ul class="list-unstyled mb-0">
										<li class="mb-2 fs-4"><a asp-action="ViewIndex" asp-controller="PatientDetail">Pasien</a></li>
										<li class="mb-2 fs-4"><a href="#">Pembelian Obat</a></li>
										<li class="mb-2 fs-4"><a href="#">Rencana Kedatangan</a></li>
										<li class="mb-2 fs-4"><a href="#">Riwayat Chat Dokter</a></li>
										<li class="mb-1"><a asp-action="Index" asp-controller="PatientDetail">Pasien</a></li>
										<li class="cariObat mb-1"><a id="cariObat" href="#">Pembelian Obat</a></li>
										<li class="mb-1"><a href="#">Rencana Kedatangan</a></li>
										<li class="mb-1"><a href="#">Riwayat Chat Dokter</a></li>
									</ul>
								</div>

							</div>

						</div>
					</div>
				</div>
				<div class="col-md-8 col-xl-9">
					<div class="card">
						<div class="card-header py-1">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">Alamat</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="pembayaran-tab" data-bs-toggle="tab" data-bs-target="#pembayaran" type="button" role="tab" aria-controls="pembayaran" aria-selected="false">Pembayaran</button>
								</li>
								<li class="nav-item" role="presentation">
									<button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="true">Tarik Tunai</button>
								</li>
							</ul>
						</div>
						<div class="card-body py-2" id="tabsForProfileSharedLayout">
							<!-- Tab panes -->
							<div class="tab-content" id="tab-content">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

<!-- Tambahkan tautan ke Bootstrap JavaScript di sini -->
<script>
	$(document).ready(function () {
		let userId = Number(@ViewBag.userId)
		let biodataId = Number(@ViewBag.biodataId)
		// Fungsi untuk menampilkan konten sesuai dengan tab yang aktif
		function showTabContent(tabId, content) {
			if ($("#" + tabId).attr("aria-selected") === "true") {
				$("#tab-content").load(content);
			}	
		}
		// Tampilkan konten berdasarkan tab aktif saat halaman dimuat
		showTabContent("profile-tab", "/Patient/ProfileTab/" + userId);
		showTabContent("home-tab", "ini profile");
		showTabContent("messages-tab", "/Bank/TarikSaldo/");
		showTabContent("pembayaran-tab", "pembayaran");

		// Tambahkan event listener untuk setiap tombol tab
		$("#home-tab").click(function () {
			$("#tab-content").text("ini home");
		});
		$("#profile-tab").click(function () {
			$("#tab-content").load("/Patient/ProfileTab/" + userId);
		});
		$("#messages-tab").click(function () {
			$("#tab-content").load("/Bank/TarikSaldo/");
			//$("#tab-content").text("user id sekarang adalah : " + @ViewBag.userId);
		});
		$("#pembayaran-tab").click(function () {
			$("#tab-content").text("ini pembayaran");
		});
		$("#editImages").click(function () {
			$("#myModalBody").load("/Patient/EditImages/" + userId)
			$("#myModal").modal("show")
		});
		$("#cariObat").click(function (){
			$("#myModalBody").load("/CariObat/CariObat")
			$("#myModal").modal("show")
		});
	});
</script>