﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Get Messages from Session
    ViewBag.InfoMsg = Context.Session.GetString("infoMsg")?? String.Empty;
    ViewBag.WarnMsg = Context.Session.GetString("warnMsg")?? String.Empty;
    ViewBag.ErrMsg = Context.Session.GetString("errMsg")?? String.Empty;

    ViewBag.UserRoleId = Context.Session.GetString("userRoleId")?? String.Empty;
    ViewBag.UserId = Context.Session.GetString("userId")?? String.Empty;
    ViewBag.UserFullName = Context.Session.GetString("userFullName")?? String.Empty;
    ViewBag.email = Context.Session.GetString("email")?? String.Empty;
    ViewBag.password = Context.Session.GetString("password")?? String.Empty;

    //Reset Messages Session
    Context.Session.SetString("infoMsg", String.Empty);
    Context.Session.SetString("warnMsg", String.Empty);
    Context.Session.SetString("errMsg", String.Empty);

    //Context.Session.SetString("userRoleId", String.Empty);
}

<div id="alertPlaceholder" class="alert alert-dismissible m-auto p-0" role="alert" aria-hidden="true">
    @*Isi dari alert*@
</div>


<script>
    $(document).ready(function(){
        function alertPopUp(msg, type){
            $("#alertPlaceholder").append(
                '<div class= "alert alert-' + type + ' d-flex justify-content-between">'
                + '<div>' + msg + '</div>'
                + '<button type="button" class="btn btn-sm btn-close" data-bs-dismiss="alert" aria-label="Close">'
                + '</button>'
                + '</div>'
            );
        }

        if ("@ViewBag.InfoMsg" != "") alertPopUp("@Html.Raw(ViewBag.InfoMsg)", 'info');
        if ("@ViewBag.WarnMsg" != "") alertPopUp("@Html.Raw(ViewBag.WarnMsg)", 'warning');
        if ("@ViewBag.ErrMsg" != "") alertPopUp("@Html.Raw(ViewBag.ErrMsg)", 'danger');
    });
</script>
