﻿@using Newtonsoft.Json
@*@model List<VMMenuForView>*@
@*
    Tes Git Tambahan
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	//ViewBag.UserId = Context.Session.GetString("userId") ?? String.Empty;
}

<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">
		<a class="sidebar-brand" asp-controller="Home" asp-action="Index">
			<span class="align-middle">Med.ID</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Pages
			</li>
			@*Isi menu awal atau Default sebelum login*@
			<li class="sidebar-item active">
				<a class="sidebar-link" asp-controller="Home" asp-action="Index">
					<i class="bi-house"></i> <span class="align-middle">Dashboard</span>
				</a>
			</li>

			<li class="sidebar-item">
				<a id="linkSearchDoctor" class="sidebar-link">
					<i class="bi bi-search"></i> <span class="align-middle">Search Doctor</span>
				</a>
			</li>
			
			<li class="sidebar-item">
				<a class="sidebar-link" asp-controller="Home" asp-action="Logout">
					<i class="bi-door-open"></i> <span class="align-middle">Keluar</span>
				</a>
			</li>

			@if(ViewBag.UserRoleId == "1"){
				<li class="sidebar-header">Admin</li>
			}
			else if(ViewBag.UserRoleId == "2"){
				<li class="sidebar-header">Pasien</li>
			}
			else if(ViewBag.UserRoleId == "3"){
				<li class="sidebar-header">Dokter</li>
			}
			@*Isi Menu setelah Login, pemanggilan dari database m_menu*@
			@if (Context.Session.GetString("MenuForView") is string serializedMenuData){
				var menuForView = JsonConvert.DeserializeObject<List<VMMenuForView>>(serializedMenuData);
				@foreach (var menu in menuForView)
				{
					@*Penentuan menu berdasarakan rolenya sebagain apa*@
					if(menu.RoleId.ToString() == ViewBag.UserRoleId)
					{
						<li class="sidebar-item">
							<a class="sidebar-link" href="javascript:void(0);" onclick="redirectToRelativeUrl('@menu.Url')" > 
								<i class="@menu.SmallIcon"></i><span class="align-middle">@menu.Name</span>
							</a>
						</li>
					}
				}
			}
			@if(ViewBag.UserRoleId == "1"){
				<li class="sidebar-item align-middle dropdown">
					<button class="sidebar-link btn btn-secondary dropdown-toggle" type="button" id="dropdownPengaturan" data-bs-toggle="dropdown" aria-expanded="false">
						Pengaturan
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownPengaturan">
						<li><a class="dropdown-item" asp-controller="AturAkses" asp-action="IndexAtur">Atur Akses</a></li>
					</ul>
				</li>
			}
		</ul>
	</div>
</nav>
<script>
    function redirectToRelativeUrl(targetUrl) {
        var currentUrl = window.location.href;
        var parts = currentUrl.split("/");
        var baseUrl = parts[0];

        window.location.href = baseUrl + '/' + targetUrl;
    }
</script>

<script>
	$(document).ready(function () {
		$("#linkSearchDoctor").click(function () {
			$("#myModalBody").load("/Doctor/SearchDoctor");
			$("#myModal").modal("show");
		});
	});
</script>

@{
	//if(ViewBag.UserRoleId == "1"){
	//	<li class="sidebar-header">
	//		Admin
	//	</li>
	//	//asp-controller="Bank" asp-action="Index"
	//	<li class="sidebar-item">
 //           <a class="sidebar-link" href="~/Bank/Index" > 
	//			<i class="bi bi-bank"></i><span class="align-middle">Bank</span>
 //           </a>
 //       </li>
	//	<li class="sidebar-item">
	//		<a class="sidebar-link" asp-controller="Doctor" asp-action="Specialization">
	//			<i class="align-middle" data-feather="book"></i> <span class="align-middle">Doctor Specialization</span>
	//		</a>
	//	</li>

	//	<li class="sidebar-item">
	//		<a class="sidebar-link" asp-controller="Payment" asp-action="Index">
	//			<i class="bi bi-credit-card"></i><span class="align-middle">Payment</span>
	//		</a>
	//	</li>

	//	<li class="sidebar-item">
	//		<a class="sidebar-link" asp-controller="Akses" asp-action="Index">
	//			<i class="bi bi-book"></i><span class="align-middle">Hak Akses</span>
	//		</a>
	//	</li>
	//	<li class="sidebar-item align-middle dropdown">
	//		<button class="sidebar-link btn btn-secondary dropdown-toggle" type="button" id="dropdownPengaturan" data-bs-toggle="dropdown" aria-expanded="false">
	//			Pengaturan
	//		</button>
	//		<ul class="dropdown-menu" aria-labelledby="dropdownPengaturan">
	//			<li><a class="dropdown-item" asp-controller="AturAkses" asp-action="IndexAtur">Atur Akses</a></li>
	//		</ul>
	//	</li>
	
	//}
	//else if (ViewBag.UserRoleId == "2")
	//{
	//	@*Pembeda*@

	//	<li class="sidebar-header">
	//		Pasien
	//	</li>

	//	<li class="sidebar-item">
	//		<a class="sidebar-link" asp-controller="Patient" asp-action="SearchDoctor">
	//			<i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Cari Dokter</span>
	//		</a>
	//	</li>

	//	<li class="sidebar-item">
	//		<a class="sidebar-link" href="maps-google.html">
	//			<i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
	//		</a>
	//	</li>
	//}
	//else if (ViewBag.UserRoleId == "3")
	//{
	//	<li class="sidebar-header">
	//		Dokter
	//	</li>

	//	<li class="sidebar-item">
	//		<a class="sidebar-link" asp-controller="Doctor" asp-action="Profile">
	//			<i class="align-middle bi bi-pencil-fill"></i> <span class="align-middle">Profile</span>
	//		</a>
	//	</li>

	//	<li class="sidebar-item">
	//		<a class="sidebar-link" href="maps-google.html">
	//			<i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
	//		</a>
	//	</li>
	//}
}
