﻿<div class="card-body h-100" id="tabsForProfileSharedLayout">
	
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="Vanessa Tucker">
		<div class="flex-grow-1">
			<small class="float-end text-navy">5m ago</small>
			<strong>Vanessa Tucker</strong> started following <strong>Christina Mason</strong><br>
			<small class="text-muted">Today 7:51 pm</small><br>

		</div>
	</div>

	<hr>
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="Charles Hall">
		<div class="flex-grow-1">
			<small class="float-end text-navy">30m ago</small>
			<strong>Charles Hall</strong> posted something on <strong>Christina Mason</strong>'s timeline<br>
			<small class="text-muted">Today 7:21 pm</small>

			<div class="border text-sm text-muted p-2 mt-1">
				Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
				pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
			</div>

			<a href="#" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> Like</a>
		</div>
	</div>

	<hr>
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="Christina Mason">
		<div class="flex-grow-1">
			<small class="float-end text-navy">1h ago</small>
			<strong>Christina Mason</strong> posted a new blog<br>

			<small class="text-muted">Today 6:35 pm</small>
		</div>
	</div>

	<hr>
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="William Harris">
		<div class="flex-grow-1">
			<small class="float-end text-navy">3h ago</small>
			<strong>William Harris</strong> posted two photos on <strong>Christina Mason</strong>'s timeline<br>
			<small class="text-muted">Today 5:12 pm</small>

			<div class="row g-0 mt-1">
				<div class="col-6 col-md-4 col-lg-4 col-xl-3">
					<img src="~/images/logo.png" class="img-fluid pe-2" alt="Unsplash">
				</div>
				<div class="col-6 col-md-4 col-lg-4 col-xl-3">
					<img src="~/images/logo.png" class="img-fluid pe-2" alt="Unsplash">
				</div>
			</div>

			<a href="#" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> Like</a>
		</div>
	</div>

	<hr>
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="William Harris">
		<div class="flex-grow-1">
			<small class="float-end text-navy">1d ago</small>
			<strong>William Harris</strong> started following <strong>Christina Mason</strong><br>
			<small class="text-muted">Yesterday 3:12 pm</small>

			<div class="d-flex align-items-start mt-1">
				<a class="pe-3" href="#">
					<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="Christina Mason">
				</a>
				<div class="flex-grow-1">
					<div class="border text-sm text-muted p-2 mt-1">
						Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="Christina Mason">
		<div class="flex-grow-1">
			<small class="float-end text-navy">1d ago</small>
			<strong>Christina Mason</strong> posted a new blog<br>
			<small class="text-muted">Yesterday 2:43 pm</small>
		</div>
	</div>

	<hr>
	<div class="d-flex align-items-start">
		<img src="~/images/logo.png" width="36" height="36" class="rounded-circle me-2" alt="Charles Hall">
		<div class="flex-grow-1">
			<small class="float-end text-navy">1d ago</small>
			<strong>Charles Hall</strong> started following <strong>Christina Mason</strong><br>
			<small class="text-muted">Yesterdag 1:51 pm</small>
		</div>
	</div>

	<hr>
	<div class="d-grid">
		<a href="#" class="btn btn-primary">Load more</a>
	</div>
</div>
