﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	//var UserRoleId = ViewBag.UserRoleId;
	ViewBag.UserFullname = Context.Session.GetString("userFullName") ?? String.Empty;
	
}
<nav class="navbar navbar-expand navbar-light navbar-bg py-2" style="background-color:#e3f2fd;">
	@if (!string.IsNullOrEmpty(ViewBag.UserRoleId))
	{
		<a class="sidebar-toggle js-sidebar-toggle">
			<i class="hamburger align-self-center"></i>
		</a>
	}

	<a class="navbar-brand h1 py-1" asp-controller="Home" asp-action="Index">
		<img src="~/images/Med-id-h.png" class="rounded show_image img_fluid" style="width:auto; height:50px;"/>
		@*<span class="align-middle">Med.ID</span>*@
	</a>
	
	<div class="navbar-collapse collapse">
		<form class="form-inline input-group w-50">
			<input id="txtFilter" name="Filter" class="form-control" type="search" placeholder="Search...">
			<button id="btnFilter" class="btn btn-success btn-lg" type="submit"><i class="bi-search"></i></button>
		</form>
		@if (string.IsNullOrEmpty(ViewBag.UserRoleId))
		{
			<ul class="navbar-nav navbar-align py-0">
				@*Button Login*@
				<li class="nav-item mx-1">
					<button id="btnLogin" class="btn btn-primary fw-bold" type="button">Login</button>
				</li>
				@*Button Daftar*@
				<li class="nav-item mx-1">
					<button id="btnRegister" class="btn btn-warning fw-bold" type="button">Register</button>
				</li>
			</ul>
		}
		else
		{
			<ul class="navbar-nav navbar-align">
				<li class="nav-item dropdown">
					<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
						<i class="align-middle" data-feather="settings"></i>
					</a>

					<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
						<span class="text-dark h4">Hello, @ViewBag.UserFullname</span>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" asp-action="ProfileSharedLayout"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
						<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
						<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log out</a>
					</div>
				</li>
			</ul>

			@*<ul class="navbar-nav navbar-align">
				<li class="nav-item dropdown">
					<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
						<i class="align-middle" data-feather="settings"></i>
					</a>

					<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
					<img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="FullName" />
					<span class="text-dark h4">Hello, @ViewBag.UserFullname</span>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" asp-action="ProfileSharedLayout"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
						<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="pie-chart"></i> Analytics</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="index.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
						<a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Log out</a>
					</div>
				</li>
			</ul>*@
		}
	</div>
</nav>

<script>
	$(document).ready(function() {
        $("#btnLogin").click(function() {
            $("#myModalBody").load("Home/Login");
            $("#myModal").modal("show");
		});
		$("#btnRegister").click(function(){
			$("#myModalBody").load("Home/Register");
			$("#myModal").modal("show");
		});
        $(".js-sidebar-toggle").click(function() {
            $("#sidebar").toggle(1000);
		});
	});
</script>
